IoT_Farmers_General.json
[{"id":"ebff1168.ae10e","type":"tab","label":"IoT Farmers - General","disabled":false,"info":""},{"id":"9702f5bd.155fd8","type":"inject","z":"ebff1168.ae10e","name":"read","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["db11e3aa.efa67"]]},{"id":"14db955e.21055b","type":"file in","z":"ebff1168.ae10e","name":"routes","filename":"/data/rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":140,"wires":[["dda290bd.19c0d"]]},{"id":"dda290bd.19c0d","type":"xml","z":"ebff1168.ae10e","name":"","property":"payload","attr":"","chr":"","x":410,"y":140,"wires":[["d3d62835.8abc88"]]},{"id":"d3d62835.8abc88","type":"function","z":"ebff1168.ae10e","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[]},{"id":"db11e3aa.efa67","type":"file in","z":"ebff1168.ae10e","name":"farms","filename":"/data/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":100,"wires":[["3880d461.55b67c"]]},{"id":"3880d461.55b67c","type":"xml","z":"ebff1168.ae10e","name":"","property":"payload","attr":"","chr":"","x":410,"y":100,"wires":[["f8f59836.d0c6d8"]]},{"id":"f8f59836.d0c6d8","type":"function","z":"ebff1168.ae10e","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\nglobal.set(\"farms\", farms);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["14db955e.21055b"]]},{"id":"ffec8e7f.3357c","type":"comment","z":"ebff1168.ae10e","name":"Read configuration files","info":"","x":140,"y":60,"wires":[]},{"id":"47238681.2e0368","type":"ui_worldmap","z":"ebff1168.ae10e","group":"3eb82e44.24f752","order":1,"width":23,"height":14,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes","x":1310,"y":240,"wires":[]},{"id":"1b527748.1ef519","type":"worldmap in","z":"ebff1168.ae10e","name":"","path":"/map/routes","events":"connect","x":161,"y":240,"wires":[["a0481ff8.d337e"]]},{"id":"a0481ff8.d337e","type":"change","z":"ebff1168.ae10e","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["661893ba.9f34ac"]]},{"id":"661893ba.9f34ac","type":"split","z":"ebff1168.ae10e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":750,"y":240,"wires":[["6478c744.ebd798","58ca0b55.ebb474","63f6f6f5.5667c8"]]},{"id":"6478c744.ebd798","type":"function","z":"ebff1168.ae10e","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\",\n    \"mas_almar\": \"blue\",\n    \"can_siset\": \"green\",\n    \"mas_colom\": \"yellow\",\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name],\n    \"layer\": \"Rutas\"\n};\n\nmsg.payload = route;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":240,"wires":[["47238681.2e0368"]]},{"id":"3a64f670.cee24a","type":"comment","z":"ebff1168.ae10e","name":"All Routes","info":"","x":100,"y":200,"wires":[]},{"id":"72c2c65a.4aee08","type":"inject","z":"ebff1168.ae10e","name":"","props":[{"p":"payload","v":"20","vt":"num"},{"p":"topic","v":"mas_gener","vt":"string"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":160,"y":700,"wires":[["aaa6293f.4b5608"]]},{"id":"3af96ee5.83fb92","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":160,"y":740,"wires":[["aaa6293f.4b5608"]]},{"id":"49c5e804.b30368","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":160,"y":780,"wires":[["aaa6293f.4b5608"]]},{"id":"3cb0c69f.dc431a","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":170,"y":820,"wires":[["aaa6293f.4b5608"]]},{"id":"8c9f9bf4.488018","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":160,"y":860,"wires":[["aaa6293f.4b5608"]]},{"id":"b9435613.1f6338","type":"comment","z":"ebff1168.ae10e","name":"Create fake cow GPS position","info":"","x":160,"y":660,"wires":[]},{"id":"aaa6293f.4b5608","type":"function","z":"ebff1168.ae10e","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":440,"y":780,"wires":[]},{"id":"d7592389.a151d","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Almar","events":"all","x":590,"y":1040,"wires":[[]]},{"id":"72ee241e.af329c","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":3,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Almar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Almar","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1040,"wires":[["d7592389.a151d"]]},{"id":"ca57c0df.f6d35","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Badosa","events":"all","x":600,"y":1100,"wires":[[]]},{"id":"e1f1aeb2.ae3a8","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":5,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Badosa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Badosa","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1100,"wires":[["ca57c0df.f6d35"]]},{"id":"8caec47.d064938","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Colom","events":"all","x":600,"y":1160,"wires":[[]]},{"id":"8a4ef0c7.613e6","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":7,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Colom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Colom","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1160,"wires":[["8caec47.d064938"]]},{"id":"d9b1aab6.923cf8","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Gener","events":"all","x":600,"y":1220,"wires":[[]]},{"id":"f37e1941.0f57d8","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":9,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Gener","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Gener","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1220,"wires":[["d9b1aab6.923cf8"]]},{"id":"b3099333.d961a","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Siset","events":"all","x":590,"y":1280,"wires":[[]]},{"id":"4161de02.eb86e","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":11,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Siset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Siset","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1280,"wires":[["b3099333.d961a"]]},{"id":"58ca0b55.ebb474","type":"function","z":"ebff1168.ae10e","name":"Icono Fabrica","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar route = farm.route;\n\nlocation = route[route.length - 1];\n\nvar fabrica = {\n    \"name\": \"Fabrica\",\n    \"icon\": \"https://img.icons8.com/ios/452/factory.png\",\n    \"lat\": location[0],\n    \"lon\": location[1],\n    \"layer\": \"Fabrica\"\n};\n\nmsg.payload = fabrica;\n\nmsg.farms = farms;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["47238681.2e0368"]]},{"id":"63f6f6f5.5667c8","type":"function","z":"ebff1168.ae10e","name":"Icono Granjas","func":"var names = {\n    \"mas_gener\": \"Mas Gener\",\n    \"mas_almar\": \"Mas Almar\",\n    \"can_siset\": \"Can Siset\",\n    \"mas_colom\": \"Mas Colom\",\n    \"mas_badosa\": \"Mas Badosa\"\n};\n\nvar granja = {\n    \"name\": names[msg.farm_name],\n    \"layer\": \"Granjas\",\n    \"icon\": \"https://image.flaticon.com/icons/png/512/119/119301.png\",\n    \"lat\": msg.payload.route[0][0],\n    \"lon\": msg.payload.route[0][1],\n};\n\nmsg.payload = granja;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":320,"wires":[["47238681.2e0368"]]},{"id":"b9ea6705.f323d8","type":"inject","z":"ebff1168.ae10e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":450,"y":360,"wires":[["15a5badc.2475c5"]]},{"id":"c1d2ec37.da4ed","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Gener","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_gener\"].route;\n\nposition = flow.get(\"Camion_MasGener\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Gener\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasGener\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":360,"wires":[["47238681.2e0368"]]},{"id":"15a5badc.2475c5","type":"random","z":"ebff1168.ae10e","name":"","low":"0","high":"10","inte":"true","property":"payload","x":620,"y":360,"wires":[["c1d2ec37.da4ed","ed9267a9.eb1428","70070ce0.7a56c4","4461d1b4.a5865","3834f419.6c31ac"]]},{"id":"cb1e623f.079f7","type":"inject","z":"ebff1168.ae10e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":320,"wires":[["f2604a59.c59b58"]]},{"id":"f2604a59.c59b58","type":"function","z":"ebff1168.ae10e","name":"","func":"flow.set(\"Camion_MasGener\", 0);\nflow.set(\"Camion_MasAlmar\", 0);\nflow.set(\"Camion_CanSiset\", 0);\nflow.set(\"Camion_MasColom\", 0);\nflow.set(\"Camion_MasBadosa\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[[]]},{"id":"ed9267a9.eb1428","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Almar","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_almar\"].route;\n\nposition = flow.get(\"Camion_MasAlmar\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Almar\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasAlmar\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":400,"wires":[["47238681.2e0368"]]},{"id":"70070ce0.7a56c4","type":"function","z":"ebff1168.ae10e","name":"Camion Can Siset","func":"farms = flow.get(\"farms\");\nroute = farms[\"can_siset\"].route;\n\nposition = flow.get(\"Camion_CanSiset\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Can Siset\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_CanSiset\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":440,"wires":[["47238681.2e0368"]]},{"id":"4461d1b4.a5865","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Colom","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_colom\"].route;\n\nposition = flow.get(\"Camion_MasColom\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Colom\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasColom\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":480,"wires":[["47238681.2e0368"]]},{"id":"3834f419.6c31ac","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Badosa","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_badosa\"].route;\n\nposition = flow.get(\"Camion_MasBadosa\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Badosa\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasBadosa\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":520,"wires":[["47238681.2e0368"]]},{"id":"a15d61ba.6f97","type":"comment","z":"ebff1168.ae10e","name":"Dashboard index","info":"","x":120,"y":980,"wires":[]},{"id":"6da533ea.2c306c","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Fabrica","events":"all","x":560,"y":1340,"wires":[[]]},{"id":"677cf96.197f708","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":14,"width":7,"height":1,"passthru":false,"label":"Fabrica","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Fabrica","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":1340,"wires":[["6da533ea.2c306c"]]},{"id":"3eb82e44.24f752","type":"ui_group","name":"Rutas","tab":"caa72333.20def","order":2,"disp":true,"width":30,"collapse":false},{"id":"caa72333.20def","type":"ui_tab","name":"Main","icon":"fa-paw","order":1,"disabled":false,"hidden":false}]