IoT_Farmers_Granjas.json
[{"id":"376612e2.a8cb7e","type":"tab","label":"IoT Farmers - Granjas","disabled":false,"info":""},{"id":"f45e0e5d.0430d","type":"function","z":"376612e2.a8cb7e","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":320,"wires":[[]]},{"id":"28ed5555.785cca","type":"worldmap in","z":"376612e2.a8cb7e","name":"","path":"/map/farm1","events":"all","x":160,"y":320,"wires":[["fa911146.356e6"]]},{"id":"6a51ab6e.5aeab4","type":"ui_worldmap","z":"376612e2.a8cb7e","group":"51aeca90.bfd564","order":1,"width":15,"height":12,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":950,"y":200,"wires":[]},{"id":"68210e55.d3814","type":"change","z":"376612e2.a8cb7e","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["f45e0e5d.0430d"]]},{"id":"31a7cc68.7d2924","type":"comment","z":"376612e2.a8cb7e","name":"Farms","info":"","x":90,"y":280,"wires":[]},{"id":"fa911146.356e6","type":"switch","z":"376612e2.a8cb7e","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":320,"wires":[["68210e55.d3814"]]},{"id":"f11aec74.678ef","type":"ui_button","z":"376612e2.a8cb7e","name":"","group":"51aeca90.bfd564","order":2,"width":0,"height":0,"passthru":true,"label":"Actualización Manual","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":340,"y":420,"wires":[[]]},{"id":"755b7cfe.2bace4","type":"function","z":"376612e2.a8cb7e","name":"update cows","func":"farms = global.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    cows[index].temp = Math.round(Math.random() * 3 + 38);\n    cows[index].hb = Math.round(Math.random() * 20 + 70);\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":420,"wires":[["ad15be90.94225","a4cff672.5e5bf8"]]},{"id":"fa5ac0fc.3bc9d","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["f11aec74.678ef"]]},{"id":"9fba9a21.d70898","type":"debug","z":"376612e2.a8cb7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":420,"wires":[]},{"id":"7a8fca3f.64b494","type":"ui_toast","z":"376612e2.a8cb7e","position":"top right","displayTime":"3","highlight":"Red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alarma de Temperatura!","name":"Temperatura","x":1250,"y":660,"wires":[]},{"id":"ad15be90.94225","type":"switch","z":"376612e2.a8cb7e","name":"Alarma","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":480,"wires":[["f4533742.708668"]]},{"id":"9fad0490.ce8aa8","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":580,"wires":[["5d7a9ae0.26f8a4"]]},{"id":"5d7a9ae0.26f8a4","type":"function","z":"376612e2.a8cb7e","name":"Declare Cubas","func":"\n\nvar cubas= {\"MasGener\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasAlmar\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"CanSiset\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}],\n            \"MasColom\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasBadosa\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}]\n            };\n    \nflow.set(\"Cubas\", cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":580,"wires":[[]]},{"id":"a1b0c2c7.2ccb2","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":640,"wires":[["54d46f50.e7bd9"]]},{"id":"54d46f50.e7bd9","type":"function","z":"376612e2.a8cb7e","name":"Simular Cubas","func":"\nvar cubas=flow.get(\"Cubas\");\n  \ncubas.MasGener[0].Temp=(Math.random() * 2 + 3);\ncubas.MasAlmar[0].Temp=(Math.random() * 2 + 3);\ncubas.CanSiset[0].Temp=(Math.random() * 2 + 3);\ncubas.MasColom[0].Temp=(Math.random() * 2 + 3);\ncubas.MasBadosa[0].Temp=(Math.random() * 2 + 3);\n\nif (cubas.MasGener[0].VolR < cubas.MasGener[0].VolT)\n{\n    cubas.MasGener[0].VolR++;     \n}else{\n    //cubas.MasGener[0].VolR=cubas.MasGener[0].VolT\n}\n\nif(cubas.MasAlmar[0].VolR  < cubas.MasAlmar[0].VolT)\n{\n     cubas.MasAlmar[0].VolR=cubas.MasAlmar[0].VolR+30; \n}else{\n    cubas.MasAlmar[0].VolR=(Math.random() * 1000 + 3000);\n}\n\nif (cubas.CanSiset[0].VolR < cubas.CanSiset[0].VolT)\n{\n    cubas.CanSiset[0].VolR++;\n}else{\n    cubas.CanSiset[0].VolR=cubas.CanSiset[0].VolT\n}\n\nif (cubas.MasColom[0].VolR < cubas.MasColom[0].VolT)\n{\n    cubas.MasColom[0].VolR++;\n}else{\n    cubas.MasColom[0].VolR=cubas.MasColom.VolT\n}\n\nif (cubas.MasBadosa[0].VolR < cubas.MasBadosa[0].VolT)\n{\n    cubas.MasBadosa[0].VolR++;\n}else{\n    cubas.MasBadosa[0].VolR=cubas.MasBadosa[0].VolT\n}\n\nflow.set(\"Cubas\",cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["29e85952.62c166"]]},{"id":"d5fa2241.67f0c","type":"ui_gauge","z":"376612e2.a8cb7e","name":"Volumen","group":"886b1cb4.228a6","order":2,"width":9,"height":6,"gtype":"wave","title":"{{msg.topic}}","label":"L","format":"{{msg.payload}}","min":"0","max":"5000","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":840,"y":600,"wires":[]},{"id":"29e85952.62c166","type":"function","z":"376612e2.a8cb7e","name":"Obtener datos Cuba","func":"\nvar cubas=flow.get(\"Cubas\");\n\nvar msg1 = { payload:cubas.MasAlmar[0].Temp.toFixed(2) };\nmsg1.topic='Temp';  \n\n\nmsg.payload=cubas.MasAlmar[0].VolR\nmsg.topic='Volumen'\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":640,"wires":[[],["50e7ab5a.9a74e4"]]},{"id":"50e7ab5a.9a74e4","type":"ui_gauge","z":"376612e2.a8cb7e","name":"Temperatura","group":"886b1cb4.228a6","order":3,"width":9,"height":6,"gtype":"gage","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"3","max":"5","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":830,"y":660,"wires":[]},{"id":"a20c27b6.65c628","type":"comment","z":"376612e2.a8cb7e","name":"Cubas","info":"","x":110,"y":580,"wires":[]},{"id":"b1a4da86.ecb988","type":"comment","z":"376612e2.a8cb7e","name":"Instalaciones Granja","info":"","x":170,"y":720,"wires":[]},{"id":"c2055ba3.995978","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["37b3e288.ed00ae"]]},{"id":"37b3e288.ed00ae","type":"function","z":"376612e2.a8cb7e","name":"Simular Temperatura","func":"\n\nmsg.payload=Math.round(Math.random() * (10) + 25);\nmsg.topic='Temp'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":780,"wires":[["ea6f5f7.11c51a","5bc784c6.4956dc"]]},{"id":"ea6f5f7.11c51a","type":"ui_gauge","z":"376612e2.a8cb7e","name":"Temperatura","group":"629c1977.50ab08","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"ºC","format":"{{msg.payload}}","min":"5","max":"40","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":690,"y":780,"wires":[]},{"id":"5bc784c6.4956dc","type":"ui_chart","z":"376612e2.a8cb7e","name":"Temperautre Chart1","group":"629c1977.50ab08","order":3,"width":9,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":820,"wires":[[]]},{"id":"f4533742.708668","type":"link out","z":"376612e2.a8cb7e","name":"TempVaca","links":["76b830c0.4bd9f","6260dee5.05646"],"x":1135,"y":480,"wires":[]},{"id":"a4cff672.5e5bf8","type":"switch","z":"376612e2.a8cb7e","name":"Alarma","property":"payload.hb","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":540,"wires":[["4a2c7f12.e132c"]]},{"id":"4a2c7f12.e132c","type":"link out","z":"376612e2.a8cb7e","name":"HBVaca","links":["83bd102c.40069","5bf7b132.4e731"],"x":1135,"y":540,"wires":[]},{"id":"5a7f4b69.deeb84","type":"comment","z":"376612e2.a8cb7e","name":"CSV","info":"","x":130,"y":860,"wires":[]},{"id":"6260dee5.05646","type":"link in","z":"376612e2.a8cb7e","name":"","links":["22fbc4c1.fbaafc","f4533742.708668"],"x":115,"y":960,"wires":[["52af391e.582688"]]},{"id":"be1ae30c.4cba4","type":"csv","z":"376612e2.a8cb7e","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"mult","ret":"\\n","temp":"","skip":"1","strings":true,"include_empty_strings":false,"include_null_values":false,"x":490,"y":960,"wires":[["918ddcfa.df536","f778c7c5.ce0578"]]},{"id":"52af391e.582688","type":"change","z":"376612e2.a8cb7e","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.hb","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"Temperatura","tot":"str"},{"t":"delete","p":"payload.temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":960,"wires":[["be1ae30c.4cba4"]]},{"id":"918ddcfa.df536","type":"file","z":"376612e2.a8cb7e","name":"","filename":"/data/CowData.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":670,"y":960,"wires":[[]]},{"id":"5bf7b132.4e731","type":"link in","z":"376612e2.a8cb7e","name":"","links":["e98f3308.b0a2c","4a2c7f12.e132c"],"x":115,"y":1020,"wires":[["4e6dc308.e12a0c"]]},{"id":"4e6dc308.e12a0c","type":"change","z":"376612e2.a8cb7e","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"move","p":"payload.hb","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.temp","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"HeartBeat","tot":"str"},{"t":"delete","p":"payload.hb","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1020,"wires":[["be1ae30c.4cba4"]]},{"id":"f778c7c5.ce0578","type":"debug","z":"376612e2.a8cb7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1020,"wires":[]},{"id":"524713ae.88d25c","type":"link in","z":"376612e2.a8cb7e","name":"Volumout","links":["5ff48896.2d8598"],"x":695,"y":560,"wires":[["d5fa2241.67f0c"]]},{"id":"cae50afc.6fe6d8","type":"mqtt in","z":"376612e2.a8cb7e","name":"","topic":"84:CC:A8:4C:76:2C/Vaca","qos":"2","datatype":"json","broker":"277f223.fcf7bde","x":450,"y":200,"wires":[["8e85d462.e14738"]]},{"id":"9d56ea6a.2b6648","type":"debug","z":"376612e2.a8cb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"8e85d462.e14738","type":"function","z":"376612e2.a8cb7e","name":"update cows","func":"\n\nvar cow = {\"name\":msg.payload.n,icon:\":cow2:\",layer:\"cows\",lat:msg.payload.lt,lon:msg.payload.lg,temp:msg.payload.t,hb:msg.payload.hb};\n\n\nvar msg1 = {payload:cow};\nnode.send(msg1);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":200,"wires":[["6a51ab6e.5aeab4"]]},{"id":"51aeca90.bfd564","type":"ui_group","name":"Posicion de las Vacas","tab":"4767c35b.da002c","order":1,"disp":true,"width":15,"collapse":false},{"id":"886b1cb4.228a6","type":"ui_group","name":"Estado Cuba","tab":"4767c35b.da002c","order":2,"disp":true,"width":"9","collapse":false},{"id":"629c1977.50ab08","type":"ui_group","name":"Estado Instalación","tab":"4767c35b.da002c","order":3,"disp":true,"width":"9","collapse":false},{"id":"277f223.fcf7bde","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4767c35b.da002c","type":"ui_tab","name":"Granja - Mas Almar","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
