IoT_Farmers_Granjas.json
[{"id":"16e85c09.cfe0c4","type":"tab","label":"IoT Farmers - Granjas","disabled":false,"info":""},{"id":"81583ea1.655a3","type":"function","z":"16e85c09.cfe0c4","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":120,"wires":[["ec03295a.35a898"]]},{"id":"c04be2a4.5f73b","type":"worldmap in","z":"16e85c09.cfe0c4","name":"","path":"/map/farm1","events":"all","x":200,"y":120,"wires":[["cf8c148d.d924a8"]]},{"id":"ec03295a.35a898","type":"ui_worldmap","z":"16e85c09.cfe0c4","group":"89010b0.5501af8","order":1,"width":15,"height":12,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1070,"y":120,"wires":[]},{"id":"745acab0.afd3d4","type":"change","z":"16e85c09.cfe0c4","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["81583ea1.655a3","24a63183.d1217e"]]},{"id":"fd02c2ca.b9d76","type":"comment","z":"16e85c09.cfe0c4","name":"Farms","info":"","x":130,"y":80,"wires":[]},{"id":"cf8c148d.d924a8","type":"switch","z":"16e85c09.cfe0c4","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":120,"wires":[["745acab0.afd3d4"]]},{"id":"2a50b432.92a54c","type":"ui_button","z":"16e85c09.cfe0c4","name":"","group":"89010b0.5501af8","order":2,"width":0,"height":0,"passthru":true,"label":"Actualización Manual","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":380,"y":220,"wires":[["24a63183.d1217e"]]},{"id":"24a63183.d1217e","type":"function","z":"16e85c09.cfe0c4","name":"update cows","func":"farms = global.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    cows[index].temp = Math.round(Math.random() * 3 + 38);\n    cows[index].hb = Math.round(Math.random() * 20 + 70);\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["ec03295a.35a898","3313c254.8111ee","4a79a04d.4337c","27d49eef.6d5d42"]]},{"id":"3e6fec61.f46d54","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["2a50b432.92a54c"]]},{"id":"3313c254.8111ee","type":"debug","z":"16e85c09.cfe0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":220,"wires":[]},{"id":"5f2c8ca5.421bb4","type":"ui_toast","z":"16e85c09.cfe0c4","position":"top right","displayTime":"3","highlight":"Red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alarma de Temperatura!","name":"Temperatura","x":1290,"y":460,"wires":[]},{"id":"4a79a04d.4337c","type":"switch","z":"16e85c09.cfe0c4","name":"Alarma","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":280,"wires":[["36320ffe.11042"]]},{"id":"76367ac7.5082a4","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":340,"wires":[["de2c63c4.e9228"]]},{"id":"de2c63c4.e9228","type":"function","z":"16e85c09.cfe0c4","name":"Declare Cubas","func":"\n\nvar cubas= {\"MasGener\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasAlmar\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"CanSiset\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}],\n            \"MasColom\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasBadosa\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}]\n            };\n    \nflow.set(\"Cubas\", cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[[]]},{"id":"ec8c3489.406728","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":400,"wires":[["d6009fc9.6ba33"]]},{"id":"d6009fc9.6ba33","type":"function","z":"16e85c09.cfe0c4","name":"Simular Cubas","func":"\nvar cubas=flow.get(\"Cubas\");\n  \ncubas.MasGener[0].Temp=(Math.random() * 2 + 3);\ncubas.MasAlmar[0].Temp=(Math.random() * 2 + 3);\ncubas.CanSiset[0].Temp=(Math.random() * 2 + 3);\ncubas.MasColom[0].Temp=(Math.random() * 2 + 3);\ncubas.MasBadosa[0].Temp=(Math.random() * 2 + 3);\n\nif (cubas.MasGener[0].VolR < cubas.MasGener[0].VolT)\n{\n    cubas.MasGener[0].VolR++;     \n}else{\n    //cubas.MasGener[0].VolR=cubas.MasGener[0].VolT\n}\n\nif(cubas.MasAlmar[0].VolR  < cubas.MasAlmar[0].VolT)\n{\n     cubas.MasAlmar[0].VolR=cubas.MasAlmar[0].VolR+30; \n}else{\n    cubas.MasAlmar[0].VolR=(Math.random() * 1000 + 3000);\n}\n\nif (cubas.CanSiset[0].VolR < cubas.CanSiset[0].VolT)\n{\n    cubas.CanSiset[0].VolR++;\n}else{\n    cubas.CanSiset[0].VolR=cubas.CanSiset[0].VolT\n}\n\nif (cubas.MasColom[0].VolR < cubas.MasColom[0].VolT)\n{\n    cubas.MasColom[0].VolR++;\n}else{\n    cubas.MasColom[0].VolR=cubas.MasColom.VolT\n}\n\nif (cubas.MasBadosa[0].VolR < cubas.MasBadosa[0].VolT)\n{\n    cubas.MasBadosa[0].VolR++;\n}else{\n    cubas.MasBadosa[0].VolR=cubas.MasBadosa[0].VolT\n}\n\nflow.set(\"Cubas\",cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["fd71175a.d3d268"]]},{"id":"86190179.a5559","type":"ui_gauge","z":"16e85c09.cfe0c4","name":"Volumen","group":"88a911fc.fe43a","order":2,"width":9,"height":6,"gtype":"wave","title":"{{msg.topic}}","label":"L","format":"{{msg.payload}}","min":"0","max":"5000","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":820,"y":380,"wires":[]},{"id":"fd71175a.d3d268","type":"function","z":"16e85c09.cfe0c4","name":"Obtener datos Cuba","func":"\nvar cubas=flow.get(\"Cubas\");\n\nvar msg1 = { payload:cubas.MasAlmar[0].Temp.toFixed(2) };\nmsg1.topic='Temp';  \n\n\nmsg.payload=cubas.MasAlmar[0].VolR\nmsg.topic='Volumen'\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":400,"wires":[["86190179.a5559"],["8a56b5e2.f2e5d8"]]},{"id":"8a56b5e2.f2e5d8","type":"ui_gauge","z":"16e85c09.cfe0c4","name":"Temperatura","group":"88a911fc.fe43a","order":3,"width":9,"height":6,"gtype":"gage","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"3","max":"5","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":830,"y":420,"wires":[]},{"id":"55c43246.71925c","type":"comment","z":"16e85c09.cfe0c4","name":"Cubas","info":"","x":110,"y":340,"wires":[]},{"id":"328405da.fb573a","type":"comment","z":"16e85c09.cfe0c4","name":"Instalaciones Granja","info":"","x":150,"y":480,"wires":[]},{"id":"3ca4ceb8.8cf032","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":540,"wires":[["1be82e2c.75dc82"]]},{"id":"1be82e2c.75dc82","type":"function","z":"16e85c09.cfe0c4","name":"Simular Temperatura","func":"\n\nmsg.payload=Math.round(Math.random() * (10) + 25);\nmsg.topic='Temp'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["ae3dd113.34068","66ac21a7.8c5c9"]]},{"id":"ae3dd113.34068","type":"ui_gauge","z":"16e85c09.cfe0c4","name":"Temperatura","group":"308c60da.9a2c8","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"ºC","format":"{{msg.payload}}","min":"5","max":"40","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":670,"y":540,"wires":[]},{"id":"66ac21a7.8c5c9","type":"ui_chart","z":"16e85c09.cfe0c4","name":"Temperautre Chart1","group":"308c60da.9a2c8","order":3,"width":9,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":580,"wires":[[]]},{"id":"36320ffe.11042","type":"link out","z":"16e85c09.cfe0c4","name":"TempVaca","links":["76b830c0.4bd9f","fb5710b3.61d3a"],"x":1175,"y":280,"wires":[]},{"id":"27d49eef.6d5d42","type":"switch","z":"16e85c09.cfe0c4","name":"Alarma","property":"payload.hb","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":340,"wires":[["d10c7382.04c86"]]},{"id":"d10c7382.04c86","type":"link out","z":"16e85c09.cfe0c4","name":"HBVaca","links":["83bd102c.40069","c59ec1f.1ec0d4"],"x":1175,"y":340,"wires":[]},{"id":"73f5a70a.e66cc8","type":"comment","z":"16e85c09.cfe0c4","name":"CSV","info":"","x":110,"y":740,"wires":[]},{"id":"fb5710b3.61d3a","type":"link in","z":"16e85c09.cfe0c4","name":"","links":["22fbc4c1.fbaafc","36320ffe.11042"],"x":95,"y":840,"wires":[["fd699b12.e0f978"]]},{"id":"8f518010.57963","type":"csv","z":"16e85c09.cfe0c4","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"mult","ret":"\\n","temp":"","skip":"1","strings":true,"include_empty_strings":false,"include_null_values":false,"x":470,"y":840,"wires":[["39871c98.44f634","de6c05db.879698"]]},{"id":"fd699b12.e0f978","type":"change","z":"16e85c09.cfe0c4","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.hb","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"Temperatura","tot":"str"},{"t":"delete","p":"payload.temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":840,"wires":[["8f518010.57963"]]},{"id":"39871c98.44f634","type":"file","z":"16e85c09.cfe0c4","name":"","filename":"/data/CowData.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":650,"y":840,"wires":[[]]},{"id":"c59ec1f.1ec0d4","type":"link in","z":"16e85c09.cfe0c4","name":"","links":["e98f3308.b0a2c","d10c7382.04c86"],"x":95,"y":900,"wires":[["3f86f175.2eda2e"]]},{"id":"3f86f175.2eda2e","type":"change","z":"16e85c09.cfe0c4","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"move","p":"payload.hb","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.temp","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"HeartBeat","tot":"str"},{"t":"delete","p":"payload.hb","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":900,"wires":[["8f518010.57963"]]},{"id":"de6c05db.879698","type":"debug","z":"16e85c09.cfe0c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":900,"wires":[]},{"id":"89010b0.5501af8","type":"ui_group","name":"Posicion de las Vacas","tab":"9599d4c3.77ad38","order":1,"disp":true,"width":15,"collapse":false},{"id":"88a911fc.fe43a","type":"ui_group","name":"Estado Cuba","tab":"9599d4c3.77ad38","order":2,"disp":true,"width":"9","collapse":false},{"id":"308c60da.9a2c8","type":"ui_group","name":"Estado Instalación","tab":"9599d4c3.77ad38","order":3,"disp":true,"width":"9","collapse":false},{"id":"9599d4c3.77ad38","type":"ui_tab","name":"Granja - Mas Almar","icon":"dashboard","order":3,"disabled":false,"hidden":false}]