IoT_Farmers_Fabrica.json
[{"id":"f9642084.8c9cf","type":"tab","label":"IoT Farmers - Fabrica","disabled":false,"info":""},{"id":"d09145e.d8cd1b8","type":"comment","z":"f9642084.8c9cf","name":"Fabrica","info":"","x":130,"y":80,"wires":[]},{"id":"2e2ca730.c264d8","type":"link out","z":"f9642084.8c9cf","name":"oT0","links":["50187b94.d65754","65b1e14a.be609","40fab627.e2ff48"],"x":595,"y":120,"wires":[]},{"id":"a2182f02.d903a","type":"link out","z":"f9642084.8c9cf","name":"oT1","links":["498ba44.951e35c","bb9a24d5.475df8"],"x":635,"y":120,"wires":[]},{"id":"aad090e.28e117","type":"link out","z":"f9642084.8c9cf","name":"oT2","links":["665aeea.4c91e1","d49b7215.8d15f"],"x":675,"y":120,"wires":[]},{"id":"85220c5b.a9da","type":"link out","z":"f9642084.8c9cf","name":"oH0","links":["dd7e803e.47a32","c727d87.724b328"],"x":715,"y":120,"wires":[]},{"id":"83c45619.1264f8","type":"link out","z":"f9642084.8c9cf","name":"oH1","links":["bfd62c58.d2122","ee68a9f3.ab69e8"],"x":755,"y":120,"wires":[]},{"id":"b1fffd6e.8148f","type":"link out","z":"f9642084.8c9cf","name":"oH2","links":["1d52fec3.66e941","72981721.92cca8"],"x":795,"y":120,"wires":[]},{"id":"4c34acfc.d208c4","type":"change","z":"f9642084.8c9cf","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":300,"wires":[["358579b7.11f6f6","142c4418.9a118c"]]},{"id":"74095914.10e388","type":"switch","z":"f9642084.8c9cf","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":300,"wires":[["4c34acfc.d208c4"]]},{"id":"b4aad119.79c71","type":"ui_toast","z":"f9642084.8c9cf","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":340,"y":300,"wires":[["74095914.10e388"]]},{"id":"65b1e14a.be609","type":"link in","z":"f9642084.8c9cf","name":"iT0","links":["2e2ca730.c264d8","1293fd8b.dce262"],"x":815,"y":220,"wires":[["142c4418.9a118c","131c4ad0.ab1875"]]},{"id":"bb9a24d5.475df8","type":"link in","z":"f9642084.8c9cf","name":"iT1","links":["a2182f02.d903a"],"x":815,"y":260,"wires":[["c4d89c6e.87776","142c4418.9a118c"]]},{"id":"d49b7215.8d15f","type":"link in","z":"f9642084.8c9cf","name":"","links":["aad090e.28e117"],"x":855,"y":300,"wires":[["142c4418.9a118c","c23745c2.3ca448"]]},{"id":"1bd636ea.92d8f9","type":"function","z":"f9642084.8c9cf","name":"Sensores","func":"var msg6 ={ payload:msg.payload };\nmsg6.topic='TS';\n\nmsg.payload=Math.round(Math.random() * (40 - 25) + 25);\nmsg.topic='Temp0';\n\nvar msg1 = { payload:Math.round(Math.random() * (38 - 21) + 21) };\nmsg1.topic='Temp1';\nvar msg2 = { payload:Math.round(Math.random() * (45 - 20) + 20) };\nmsg2.topic='Temp2';\nvar msg3 = { payload:Math.round(Math.random()*100) };\nmsg3.topic='Hum1';\nvar msg4 = { payload:Math.round(Math.random()*100) };\nmsg4.topic='Hum2';\nvar msg5 = { payload:Math.round(Math.random()*100) };\nmsg5.topic='Hum5';\n\n\nflow.set('TS',msg6.payload);\nflow.set('T0',msg.payload);\nflow.set('T1',msg1.payload);\nflow.set('T2',msg2.payload);\nflow.set('H0',msg3.payload);\nflow.set('H1',msg4.payload);\nflow.set('H2',msg5.payload);\n\nreturn [msg,msg1,msg2,msg3,msg4,msg5,msg6];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":480,"y":200,"wires":[["2e2ca730.c264d8"],["a2182f02.d903a"],["aad090e.28e117"],["85220c5b.a9da"],["83c45619.1264f8"],["b1fffd6e.8148f"],["3c0cf373.743c8c"]]},{"id":"c727d87.724b328","type":"link in","z":"f9642084.8c9cf","name":"iH0","links":["85220c5b.a9da"],"x":815,"y":380,"wires":[["358579b7.11f6f6","b6f42f39.f4766"]]},{"id":"ee68a9f3.ab69e8","type":"link in","z":"f9642084.8c9cf","name":"iH1","links":["83c45619.1264f8"],"x":815,"y":420,"wires":[["358579b7.11f6f6","943c167c.8700a8"]]},{"id":"72981721.92cca8","type":"link in","z":"f9642084.8c9cf","name":"iH2","links":["b1fffd6e.8148f"],"x":815,"y":460,"wires":[["358579b7.11f6f6","be1d993f.ab4af8"]]},{"id":"ea3304ed.9db5a8","type":"ui_toast","z":"f9642084.8c9cf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Temperatura Room 0 fuera de Rango!","name":"Temperature Alert!","x":570,"y":400,"wires":[]},{"id":"6f6791f0.2a35","type":"switch","z":"f9642084.8c9cf","name":"if T high","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":400,"wires":[[]]},{"id":"3c0cf373.743c8c","type":"link out","z":"f9642084.8c9cf","name":"TS","links":["d1ab6631.d9d748"],"x":595,"y":240,"wires":[]},{"id":"40fab627.e2ff48","type":"link in","z":"f9642084.8c9cf","name":"iT0","links":["2e2ca730.c264d8","1293fd8b.dce262"],"x":215,"y":400,"wires":[["6f6791f0.2a35"]]},{"id":"b3047ba0.30fcc8","type":"inject","z":"f9642084.8c9cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":120,"wires":[["1bd636ea.92d8f9"]]},{"id":"c4d89c6e.87776","type":"ui_gauge","z":"f9642084.8c9cf","name":"Sensor 2 Gauge","group":"94097e4e.7e5c8","order":6,"width":3,"height":2,"gtype":"gage","title":"Temperature 0","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1000,"y":260,"wires":[]},{"id":"2a7e2cbc.1b62f4","type":"ui_button","z":"f9642084.8c9cf","name":"Erase button","group":"94097e4e.7e5c8","order":17,"width":8,"height":1,"passthru":false,"label":"Erase chart","tooltip":"","color":"white","bgcolor":"red","icon":"warning","payload":"Do you want to erase all the chart?","payloadType":"str","topic":"","topicType":"str","x":190,"y":300,"wires":[["b4aad119.79c71"]]},{"id":"358579b7.11f6f6","type":"ui_chart","z":"f9642084.8c9cf","name":"Humidity Chart1","group":"94097e4e.7e5c8","order":10,"width":9,"height":4,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":340,"wires":[[]]},{"id":"142c4418.9a118c","type":"ui_chart","z":"f9642084.8c9cf","name":"Temperautre Chart1","group":"94097e4e.7e5c8","order":11,"width":9,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":180,"wires":[[]]},{"id":"be1d993f.ab4af8","type":"ui_gauge","z":"f9642084.8c9cf","name":"Humidity 2","group":"94097e4e.7e5c8","order":4,"width":3,"height":2,"gtype":"gage","title":"Sensor 3","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":990,"y":460,"wires":[]},{"id":"943c167c.8700a8","type":"ui_gauge","z":"f9642084.8c9cf","name":"Humidity 1","group":"94097e4e.7e5c8","order":3,"width":3,"height":2,"gtype":"gage","title":"Sensor 2","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":990,"y":420,"wires":[]},{"id":"b6f42f39.f4766","type":"ui_gauge","z":"f9642084.8c9cf","name":"Humidity 0","group":"94097e4e.7e5c8","order":2,"width":3,"height":2,"gtype":"gage","title":"Sensor 1","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":990,"y":380,"wires":[]},{"id":"c23745c2.3ca448","type":"ui_gauge","z":"f9642084.8c9cf","name":"Sensor 3 Gauge","group":"94097e4e.7e5c8","order":7,"width":3,"height":2,"gtype":"gage","title":"Temperature 2","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1000,"y":300,"wires":[]},{"id":"131c4ad0.ab1875","type":"ui_gauge","z":"f9642084.8c9cf","name":"Sensor 1 Gauge","group":"94097e4e.7e5c8","order":5,"width":3,"height":2,"gtype":"gage","title":"Temperature 0","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1000,"y":220,"wires":[]},{"id":"94097e4e.7e5c8","type":"ui_group","name":"Graficos","tab":"e6ac9232.6657d","order":1,"disp":true,"width":21,"collapse":false},{"id":"e6ac9232.6657d","type":"ui_tab","name":"Fabrica","icon":"dashboard","order":2,"disabled":false,"hidden":false}]