proyecto.json
[{"id":"e756e0fc.a5da1","type":"tab","label":"Season 10 Granjas","disabled":false,"info":""},{"id":"9afa2ac9.1b5918","type":"inject","z":"e756e0fc.a5da1","name":"read","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["1cb43ff5.89111"]]},{"id":"841b3b65.0bf3e8","type":"file in","z":"e756e0fc.a5da1","name":"routes","filename":"/data/rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":140,"wires":[["784be8cd.dda078"]]},{"id":"784be8cd.dda078","type":"xml","z":"e756e0fc.a5da1","name":"","property":"payload","attr":"","chr":"","x":410,"y":140,"wires":[["9ead46c6.5d2968"]]},{"id":"9ead46c6.5d2968","type":"function","z":"e756e0fc.a5da1","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[]},{"id":"1cb43ff5.89111","type":"file in","z":"e756e0fc.a5da1","name":"farms","filename":"/data/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":100,"wires":[["bd2c17ca.4661d8"]]},{"id":"bd2c17ca.4661d8","type":"xml","z":"e756e0fc.a5da1","name":"","property":"payload","attr":"","chr":"","x":410,"y":100,"wires":[["47de7872.b9d7f8"]]},{"id":"47de7872.b9d7f8","type":"function","z":"e756e0fc.a5da1","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["841b3b65.0bf3e8"]]},{"id":"ea067421.fec768","type":"comment","z":"e756e0fc.a5da1","name":"Read configuration files","info":"","x":140,"y":60,"wires":[]},{"id":"e209889f.c19aa8","type":"ui_worldmap","z":"e756e0fc.a5da1","group":"3eb82e44.24f752","order":2,"width":23,"height":14,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes","x":1310,"y":240,"wires":[]},{"id":"923f1d34.cf8c4","type":"worldmap in","z":"e756e0fc.a5da1","name":"","path":"/map/routes","events":"connect","x":161,"y":240,"wires":[["3dc81c9c.bf99f4"]]},{"id":"3dc81c9c.bf99f4","type":"change","z":"e756e0fc.a5da1","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["7e0357a4.6a0098"]]},{"id":"7e0357a4.6a0098","type":"split","z":"e756e0fc.a5da1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":750,"y":240,"wires":[["675ac049.bbfa5","68c111a7.2b876","55c84567.97f2fc"]]},{"id":"675ac049.bbfa5","type":"function","z":"e756e0fc.a5da1","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\",\n    \"mas_almar\": \"blue\",\n    \"can_siset\": \"green\",\n    \"mas_colom\": \"yellow\",\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name],\n    \"layer\": \"Rutas\"\n};\n\nmsg.payload = route;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":240,"wires":[["e209889f.c19aa8"]]},{"id":"f1fdbfd1.564b5","type":"function","z":"e756e0fc.a5da1","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":600,"wires":[["6c7038fe.7f8d38"]]},{"id":"e37870eb.db0fc","type":"worldmap in","z":"e756e0fc.a5da1","name":"","path":"/map/farm1","events":"all","x":160,"y":600,"wires":[["7326e96d.b9c5c8"]]},{"id":"6c7038fe.7f8d38","type":"ui_worldmap","z":"e756e0fc.a5da1","group":"89010b0.5501af8","order":1,"width":20,"height":8,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1030,"y":600,"wires":[]},{"id":"bd2e5064.8f918","type":"change","z":"e756e0fc.a5da1","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["f1fdbfd1.564b5","340c35c8.f6d42a"]]},{"id":"4e66ed3f.237354","type":"comment","z":"e756e0fc.a5da1","name":"All Routes","info":"","x":100,"y":200,"wires":[]},{"id":"8bd610f1.b1d22","type":"comment","z":"e756e0fc.a5da1","name":"Farms","info":"","x":90,"y":560,"wires":[]},{"id":"7326e96d.b9c5c8","type":"switch","z":"e756e0fc.a5da1","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":600,"wires":[["bd2e5064.8f918"]]},{"id":"a33fc4b7.fb42c8","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"89010b0.5501af8","order":10,"width":20,"height":1,"passthru":true,"label":"Actualización Manual","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":340,"y":660,"wires":[["340c35c8.f6d42a"]]},{"id":"340c35c8.f6d42a","type":"function","z":"e756e0fc.a5da1","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    cows[index].temp = Math.round(Math.random() * 3 + 38);\n    cows[index].hb = Math.round(Math.random() * 20 + 70);\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":660,"wires":[["6c7038fe.7f8d38","2a3b92e3.e6be9e","7e368c24.dd01b4"]]},{"id":"6fbff7f1.a8da38","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":660,"wires":[["a33fc4b7.fb42c8"]]},{"id":"2a3b92e3.e6be9e","type":"debug","z":"e756e0fc.a5da1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":660,"wires":[]},{"id":"d36ef32e.01faf","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":160,"y":1180,"wires":[["32a3d87b.cceee8"]]},{"id":"86759efe.ba91b","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":160,"y":1220,"wires":[["32a3d87b.cceee8"]]},{"id":"5cac1c14.120ab4","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":160,"y":1260,"wires":[["32a3d87b.cceee8"]]},{"id":"6ff3d16a.e48a2","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":170,"y":1300,"wires":[["32a3d87b.cceee8"]]},{"id":"2ed6383b.e503a8","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":160,"y":1340,"wires":[["32a3d87b.cceee8"]]},{"id":"210a2ec1.3ec3e2","type":"comment","z":"e756e0fc.a5da1","name":"Create fake cow GPS position","info":"","x":160,"y":1140,"wires":[]},{"id":"32a3d87b.cceee8","type":"function","z":"e756e0fc.a5da1","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":440,"y":1260,"wires":[]},{"id":"4c46b2c0.9254fc","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Almar","events":"all","x":590,"y":1520,"wires":[[]]},{"id":"49736e6f.e3042","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":4,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Almar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Almar","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1520,"wires":[["4c46b2c0.9254fc"]]},{"id":"cc8b1393.b1108","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Badosa","events":"all","x":600,"y":1580,"wires":[[]]},{"id":"48aae79b.5d0668","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":7,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Badosa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Badosa","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1580,"wires":[["cc8b1393.b1108"]]},{"id":"2c573d51.c0bf72","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Colom","events":"all","x":600,"y":1640,"wires":[[]]},{"id":"e207b30e.12afb","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":10,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Colom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Colom","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1640,"wires":[["2c573d51.c0bf72"]]},{"id":"91281cbf.60c3c","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Gener","events":"all","x":600,"y":1700,"wires":[[]]},{"id":"88a9bbf7.83b228","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":13,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Gener","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Gener","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1700,"wires":[["91281cbf.60c3c"]]},{"id":"117bae12.e28fc2","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Siset","events":"all","x":590,"y":1760,"wires":[[]]},{"id":"aaf0c666.9a4e08","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":16,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Siset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Siset","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1760,"wires":[["117bae12.e28fc2"]]},{"id":"68c111a7.2b876","type":"function","z":"e756e0fc.a5da1","name":"Icono Fabrica","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar route = farm.route;\n\nlocation = route[route.length - 1];\n\nvar fabrica = {\n    \"name\": \"Fabrica\",\n    \"icon\": \"https://img.icons8.com/ios/452/factory.png\",\n    \"lat\": location[0],\n    \"lon\": location[1],\n    \"layer\": \"Fabrica\"\n};\n\nmsg.payload = fabrica;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["e209889f.c19aa8"]]},{"id":"55c84567.97f2fc","type":"function","z":"e756e0fc.a5da1","name":"Icono Granjas","func":"var names = {\n    \"mas_gener\": \"Mas Gener\",\n    \"mas_almar\": \"Mas Almar\",\n    \"can_siset\": \"Can Siset\",\n    \"mas_colom\": \"Mas Colom\",\n    \"mas_badosa\": \"Mas Badosa\"\n};\n\nvar granja = {\n    \"name\": names[msg.farm_name],\n    \"layer\": \"Granjas\",\n    \"icon\": \"https://image.flaticon.com/icons/png/512/119/119301.png\",\n    \"lat\": msg.payload.route[0][0],\n    \"lon\": msg.payload.route[0][1],\n};\n\nmsg.payload = granja;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":320,"wires":[["e209889f.c19aa8"]]},{"id":"6f55ee57.87ba6","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":450,"y":360,"wires":[["2748b407.4db59c"]]},{"id":"ba9b95c6.39a788","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Gener","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_gener\"].route;\n\nposition = flow.get(\"Camion_MasGener\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Gener\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasGener\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":360,"wires":[["e209889f.c19aa8"]]},{"id":"2748b407.4db59c","type":"random","z":"e756e0fc.a5da1","name":"","low":"0","high":"10","inte":"true","property":"payload","x":620,"y":360,"wires":[["ba9b95c6.39a788","40eb59fd.7261f8","dae71dd9.c8783","45991c0e.daae34","5baaff8a.4db8e"]]},{"id":"62ef871a.263e98","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":320,"wires":[["60f0cd3e.b7da54"]]},{"id":"60f0cd3e.b7da54","type":"function","z":"e756e0fc.a5da1","name":"","func":"flow.set(\"Camion_MasGener\", 0);\nflow.set(\"Camion_MasAlmar\", 0);\nflow.set(\"Camion_CanSiset\", 0);\nflow.set(\"Camion_MasColom\", 0);\nflow.set(\"Camion_MasBadosa\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[[]]},{"id":"40eb59fd.7261f8","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Almar","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_almar\"].route;\n\nposition = flow.get(\"Camion_MasAlmar\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Almar\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasAlmar\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":400,"wires":[["e209889f.c19aa8"]]},{"id":"dae71dd9.c8783","type":"function","z":"e756e0fc.a5da1","name":"Camion Can Siset","func":"farms = flow.get(\"farms\");\nroute = farms[\"can_siset\"].route;\n\nposition = flow.get(\"Camion_CanSiset\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Can Siset\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_CanSiset\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":440,"wires":[["e209889f.c19aa8"]]},{"id":"45991c0e.daae34","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Colom","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_colom\"].route;\n\nposition = flow.get(\"Camion_MasColom\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Colom\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasColom\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":480,"wires":[["e209889f.c19aa8"]]},{"id":"5baaff8a.4db8e","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Badosa","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_badosa\"].route;\n\nposition = flow.get(\"Camion_MasBadosa\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Badosa\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasBadosa\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":520,"wires":[["e209889f.c19aa8"]]},{"id":"49c5c68e.cbff18","type":"ui_toast","z":"e756e0fc.a5da1","position":"top right","displayTime":"3","highlight":"Red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alarma de Temperatura!","name":"Temperatura","x":1090,"y":720,"wires":[]},{"id":"7e368c24.dd01b4","type":"switch","z":"e756e0fc.a5da1","name":"Alarma","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":720,"wires":[[]]},{"id":"a899d0d9.af756","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":250,"y":780,"wires":[["a3d485cb.0f9ed8"]]},{"id":"a3d485cb.0f9ed8","type":"function","z":"e756e0fc.a5da1","name":"Declare Cubas","func":"\n\nvar cubas= {\"MasGener\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasAlmar\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"CanSiset\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}],\n            \"MasColom\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasBadosa\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}]\n            };\n    \nflow.set(\"Cubas\", cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":780,"wires":[[]]},{"id":"e0b7c48b.558848","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":840,"wires":[["7a548284.192bec"]]},{"id":"7a548284.192bec","type":"function","z":"e756e0fc.a5da1","name":"Simular Cubas","func":"\nvar cubas=flow.get(\"Cubas\");\n  \ncubas.MasGener[0].Temp=(Math.random() * 2 + 3);\ncubas.MasAlmar[0].Temp=(Math.random() * 2 + 3);\ncubas.CanSiset[0].Temp=(Math.random() * 2 + 3);\ncubas.MasColom[0].Temp=(Math.random() * 2 + 3);\ncubas.MasBadosa[0].Temp=(Math.random() * 2 + 3);\n\nif (cubas.MasGener[0].VolR < cubas.MasGener[0].VolT)\n{\n    cubas.MasGener[0].VolR++;     \n}else{\n    //cubas.MasGener[0].VolR=cubas.MasGener[0].VolT\n}\n\nif(cubas.MasAlmar[0].VolR  < cubas.MasAlmar[0].VolT)\n{\n     cubas.MasAlmar[0].VolR=cubas.MasAlmar[0].VolR+30; \n}else{\n    //cubas.MasAlmar[0].VolR=cubas.MasAlmar[0].VolT\n}\n\nif (cubas.CanSiset[0].VolR < cubas.CanSiset[0].VolT)\n{\n    cubas.CanSiset[0].VolR++;\n}else{\n    cubas.CanSiset[0].VolR=cubas.CanSiset[0].VolT\n}\n\nif (cubas.MasColom[0].VolR < cubas.MasColom[0].VolT)\n{\n    cubas.MasColom[0].VolR++;\n}else{\n    cubas.MasColom[0].VolR=cubas.MasColom.VolT\n}\n\nif (cubas.MasBadosa[0].VolR < cubas.MasBadosa[0].VolT)\n{\n    cubas.MasBadosa[0].VolR++;\n}else{\n    cubas.MasBadosa[0].VolR=cubas.MasBadosa[0].VolT\n}\n\nflow.set(\"Cubas\",cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":840,"wires":[["a817398e.fcf518"]]},{"id":"b4a74f1.46ff7b","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Volumen","group":"89010b0.5501af8","order":13,"width":6,"height":5,"gtype":"wave","title":"{{msg.topic}}","label":"L","format":"{{msg.payload}}","min":"0","max":"5000","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":780,"y":820,"wires":[]},{"id":"a817398e.fcf518","type":"function","z":"e756e0fc.a5da1","name":"Obtener datos Cuba","func":"\nvar cubas=flow.get(\"Cubas\");\n\nvar msg1 = { payload:cubas.MasAlmar[0].Temp };\nmsg1.topic='Temp';  \n\n\nmsg.payload=cubas.MasAlmar[0].VolR\nmsg.topic='Volumen'\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":840,"wires":[["b4a74f1.46ff7b"],["860e3d28.fb305"]]},{"id":"860e3d28.fb305","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Temperatura","group":"89010b0.5501af8","order":14,"width":6,"height":5,"gtype":"gage","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"3","max":"5","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":790,"y":860,"wires":[]},{"id":"e9d36701.e30c18","type":"comment","z":"e756e0fc.a5da1","name":"Dashboard index","info":"","x":120,"y":1460,"wires":[]},{"id":"d0ec6d48.0fea","type":"comment","z":"e756e0fc.a5da1","name":"Cubas","info":"","x":70,"y":780,"wires":[]},{"id":"5303be26.9d684","type":"comment","z":"e756e0fc.a5da1","name":"Instalaciones Granja","info":"","x":110,"y":920,"wires":[]},{"id":"c51cb420.516b88","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":980,"wires":[["56fe06bc.70adc8"]]},{"id":"56fe06bc.70adc8","type":"function","z":"e756e0fc.a5da1","name":"Simular Temperatura","func":"\n\nmsg.payload=Math.round(Math.random() * (10) + 25);\nmsg.topic='Temp'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":980,"wires":[["51419394.2c357c","a76e052e.616558"]]},{"id":"51419394.2c357c","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Temperatura","group":"89010b0.5501af8","order":25,"width":6,"height":4,"gtype":"gage","title":"{{msg.topic}}","label":"ºC","format":"{{msg.payload}}","min":"5","max":"40","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":630,"y":980,"wires":[]},{"id":"a76e052e.616558","type":"ui_chart","z":"e756e0fc.a5da1","name":"Temperautre Chart1","group":"89010b0.5501af8","order":34,"width":20,"height":7,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":1020,"wires":[[]]},{"id":"790468a9.ef7dd8","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1920,"wires":[["6a481ff3.3852a"]]},{"id":"a59f220f.eb8e8","type":"link out","z":"e756e0fc.a5da1","name":"oT0","links":["50187b94.d65754","bd30d1bc.393e8","fec0231a.4a967"],"x":575,"y":1920,"wires":[]},{"id":"260e67f6.0477f8","type":"link out","z":"e756e0fc.a5da1","name":"oT1","links":["498ba44.951e35c","4d3b0380.9816bc"],"x":615,"y":1920,"wires":[]},{"id":"6683d3ca.bf2c0c","type":"link out","z":"e756e0fc.a5da1","name":"oT2","links":["665aeea.4c91e1","5b03e156.b5932"],"x":655,"y":1920,"wires":[]},{"id":"23fc22c7.bf711e","type":"link out","z":"e756e0fc.a5da1","name":"oH0","links":["dd7e803e.47a32","80fbbcb.1280d4"],"x":695,"y":1920,"wires":[]},{"id":"65779840.ab2058","type":"link out","z":"e756e0fc.a5da1","name":"oH1","links":["bfd62c58.d2122","2745034e.48b01c"],"x":735,"y":1920,"wires":[]},{"id":"cd46e117.cdaab","type":"link out","z":"e756e0fc.a5da1","name":"oH2","links":["1d52fec3.66e941","9ff83761.c53858"],"x":775,"y":1920,"wires":[]},{"id":"15de5d7c.c901a3","type":"change","z":"e756e0fc.a5da1","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":2100,"wires":[["d9ea6590.5bfab8","40dcb5e7.bc4fdc"]]},{"id":"d3cf9a16.dac4c8","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Sensor 1 Gauge","group":"b88526c3.d49408","order":4,"width":3,"height":2,"gtype":"gage","title":"Temperature 0","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":980,"y":2020,"wires":[]},{"id":"7fd7b974.0c6288","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Sensor 2 Donut","group":"b88526c3.d49408","order":7,"width":3,"height":2,"gtype":"gage","title":"Temperature 1","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":980,"y":2060,"wires":[]},{"id":"d57d48f2.f4fdb8","type":"switch","z":"e756e0fc.a5da1","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":2100,"wires":[["15de5d7c.c901a3"]]},{"id":"2f32d50c.01b0fa","type":"ui_toast","z":"e756e0fc.a5da1","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":320,"y":2100,"wires":[["d57d48f2.f4fdb8"]]},{"id":"4ff9036c.1dce6c","type":"ui_button","z":"e756e0fc.a5da1","name":"Erase button","group":"b88526c3.d49408","order":48,"width":8,"height":1,"passthru":false,"label":"Erase chart","tooltip":"","color":"white","bgcolor":"red","icon":"warning","payload":"Do you want to erase all the chart?","payloadType":"str","topic":"","topicType":"str","x":170,"y":2100,"wires":[["2f32d50c.01b0fa"]]},{"id":"bd30d1bc.393e8","type":"link in","z":"e756e0fc.a5da1","name":"iT0","links":["a59f220f.eb8e8","1293fd8b.dce262"],"x":795,"y":2020,"wires":[["d3cf9a16.dac4c8","d9ea6590.5bfab8"]]},{"id":"4d3b0380.9816bc","type":"link in","z":"e756e0fc.a5da1","name":"iT1","links":["260e67f6.0477f8"],"x":795,"y":2060,"wires":[["7fd7b974.0c6288","d9ea6590.5bfab8"]]},{"id":"5b03e156.b5932","type":"link in","z":"e756e0fc.a5da1","name":"","links":["6683d3ca.bf2c0c"],"x":835,"y":2100,"wires":[["4af37eba.4c3bb","d9ea6590.5bfab8"]]},{"id":"4af37eba.4c3bb","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Sensor 3 Donut","group":"b88526c3.d49408","order":12,"width":3,"height":2,"gtype":"gage","title":"Temperature 2","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":980,"y":2100,"wires":[]},{"id":"d9ea6590.5bfab8","type":"ui_chart","z":"e756e0fc.a5da1","name":"Temperautre Chart1","group":"b88526c3.d49408","order":32,"width":9,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":1980,"wires":[[]]},{"id":"6a481ff3.3852a","type":"function","z":"e756e0fc.a5da1","name":"Sensores","func":"var msg6 ={ payload:msg.payload };\nmsg6.topic='TS';\n\nmsg.payload=Math.round(Math.random() * (40 - 25) + 25);\nmsg.topic='Temp0';\n\nvar msg1 = { payload:Math.round(Math.random() * (38 - 21) + 21) };\nmsg1.topic='Temp1';\nvar msg2 = { payload:Math.round(Math.random() * (45 - 20) + 20) };\nmsg2.topic='Temp2';\nvar msg3 = { payload:Math.round(Math.random()*100) };\nmsg3.topic='Hum1';\nvar msg4 = { payload:Math.round(Math.random()*100) };\nmsg4.topic='Hum2';\nvar msg5 = { payload:Math.round(Math.random()*100) };\nmsg5.topic='Hum5';\n\n\nflow.set('TS',msg6.payload);\nflow.set('T0',msg.payload);\nflow.set('T1',msg1.payload);\nflow.set('T2',msg2.payload);\nflow.set('H0',msg3.payload);\nflow.set('H1',msg4.payload);\nflow.set('H2',msg5.payload);\n\nreturn [msg,msg1,msg2,msg3,msg4,msg5,msg6];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":460,"y":2000,"wires":[["a59f220f.eb8e8"],["260e67f6.0477f8"],["6683d3ca.bf2c0c"],["23fc22c7.bf711e"],["65779840.ab2058"],["cd46e117.cdaab"],["ed7125cd.1bff08"]]},{"id":"40dcb5e7.bc4fdc","type":"ui_chart","z":"e756e0fc.a5da1","name":"Humidity Chart1","group":"b88526c3.d49408","order":39,"width":9,"height":4,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":980,"y":2140,"wires":[[]]},{"id":"80fbbcb.1280d4","type":"link in","z":"e756e0fc.a5da1","name":"iH0","links":["23fc22c7.bf711e"],"x":795,"y":2180,"wires":[["40dcb5e7.bc4fdc","22fc1935.5fe6a6"]]},{"id":"2745034e.48b01c","type":"link in","z":"e756e0fc.a5da1","name":"iH1","links":["65779840.ab2058"],"x":795,"y":2220,"wires":[["40dcb5e7.bc4fdc","38412d0b.527a72"]]},{"id":"9ff83761.c53858","type":"link in","z":"e756e0fc.a5da1","name":"iH2","links":["cd46e117.cdaab"],"x":795,"y":2260,"wires":[["40dcb5e7.bc4fdc","f7d76bda.dccdf8"]]},{"id":"22fc1935.5fe6a6","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Humidity 0","group":"b88526c3.d49408","order":15,"width":3,"height":2,"gtype":"gage","title":"Sensor 1","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":970,"y":2180,"wires":[]},{"id":"38412d0b.527a72","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Humidity 1","group":"b88526c3.d49408","order":20,"width":3,"height":2,"gtype":"donut","title":"Sensor 2","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":970,"y":2220,"wires":[]},{"id":"f7d76bda.dccdf8","type":"ui_gauge","z":"e756e0fc.a5da1","name":"Humidity 2","group":"b88526c3.d49408","order":23,"width":3,"height":2,"gtype":"donut","title":"Sensor 3","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":970,"y":2260,"wires":[]},{"id":"86d10a93.078658","type":"ui_toast","z":"e756e0fc.a5da1","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Temperatura Room 0 fuera de Rango!","name":"Temperature Alert!","x":550,"y":2200,"wires":[]},{"id":"f535bb08.729008","type":"switch","z":"e756e0fc.a5da1","name":"if T high","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":2200,"wires":[[]]},{"id":"fec0231a.4a967","type":"link in","z":"e756e0fc.a5da1","name":"iT0","links":["a59f220f.eb8e8","1293fd8b.dce262"],"x":195,"y":2200,"wires":[["f535bb08.729008"]]},{"id":"ed7125cd.1bff08","type":"link out","z":"e756e0fc.a5da1","name":"TS","links":["d1ab6631.d9d748"],"x":575,"y":2040,"wires":[]},{"id":"ed80d7b4.3f6ce8","type":"comment","z":"e756e0fc.a5da1","name":"Fabrica","info":"","x":90,"y":1880,"wires":[]},{"id":"3eb82e44.24f752","type":"ui_group","name":"Rutas","tab":"caa72333.20def","order":2,"disp":true,"width":30,"collapse":false},{"id":"89010b0.5501af8","type":"ui_group","name":"Posicion de las Vacas","tab":"9599d4c3.77ad38","order":1,"disp":true,"width":21,"collapse":false},{"id":"b88526c3.d49408","type":"ui_group","name":"Graficos","tab":"5269d92f.b15c88","order":1,"disp":true,"width":20,"collapse":false},{"id":"caa72333.20def","type":"ui_tab","name":"Main","icon":"fa-paw","order":7,"disabled":false,"hidden":false},{"id":"9599d4c3.77ad38","type":"ui_tab","name":"Granja - Mas Almar","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5269d92f.b15c88","type":"ui_tab","name":"Fabrica","icon":"dashboard","disabled":false,"hidden":false}]
