proyecto.json
[{"id":"e756e0fc.a5da1","type":"tab","label":"Season 10 Granjas","disabled":false,"info":""},{"id":"9afa2ac9.1b5918","type":"inject","z":"e756e0fc.a5da1","name":"read","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["1cb43ff5.89111"]]},{"id":"841b3b65.0bf3e8","type":"file in","z":"e756e0fc.a5da1","name":"routes","filename":"/data/rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":140,"wires":[["784be8cd.dda078"]]},{"id":"784be8cd.dda078","type":"xml","z":"e756e0fc.a5da1","name":"","property":"payload","attr":"","chr":"","x":410,"y":140,"wires":[["9ead46c6.5d2968"]]},{"id":"9ead46c6.5d2968","type":"function","z":"e756e0fc.a5da1","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[]},{"id":"1cb43ff5.89111","type":"file in","z":"e756e0fc.a5da1","name":"farms","filename":"/data/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":100,"wires":[["bd2c17ca.4661d8"]]},{"id":"bd2c17ca.4661d8","type":"xml","z":"e756e0fc.a5da1","name":"","property":"payload","attr":"","chr":"","x":410,"y":100,"wires":[["47de7872.b9d7f8"]]},{"id":"47de7872.b9d7f8","type":"function","z":"e756e0fc.a5da1","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["841b3b65.0bf3e8"]]},{"id":"ea067421.fec768","type":"comment","z":"e756e0fc.a5da1","name":"Read configuration files","info":"","x":140,"y":60,"wires":[]},{"id":"e209889f.c19aa8","type":"ui_worldmap","z":"e756e0fc.a5da1","group":"3eb82e44.24f752","order":2,"width":23,"height":14,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes","x":1310,"y":240,"wires":[]},{"id":"923f1d34.cf8c4","type":"worldmap in","z":"e756e0fc.a5da1","name":"","path":"/map/routes","events":"connect","x":161,"y":240,"wires":[["3dc81c9c.bf99f4"]]},{"id":"3dc81c9c.bf99f4","type":"change","z":"e756e0fc.a5da1","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["7e0357a4.6a0098"]]},{"id":"7e0357a4.6a0098","type":"split","z":"e756e0fc.a5da1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":750,"y":240,"wires":[["675ac049.bbfa5","68c111a7.2b876","55c84567.97f2fc"]]},{"id":"675ac049.bbfa5","type":"function","z":"e756e0fc.a5da1","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\",\n    \"mas_almar\": \"blue\",\n    \"can_siset\": \"green\",\n    \"mas_colom\": \"yellow\",\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name],\n    \"layer\": \"Rutas\"\n};\n\nmsg.payload = route;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":240,"wires":[["e209889f.c19aa8"]]},{"id":"f1fdbfd1.564b5","type":"function","z":"e756e0fc.a5da1","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":600,"wires":[["6c7038fe.7f8d38"]]},{"id":"e37870eb.db0fc","type":"worldmap in","z":"e756e0fc.a5da1","name":"","path":"/map/farm1","events":"all","x":160,"y":600,"wires":[["7326e96d.b9c5c8"]]},{"id":"6c7038fe.7f8d38","type":"ui_worldmap","z":"e756e0fc.a5da1","group":"89010b0.5501af8","order":1,"width":20,"height":8,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1030,"y":600,"wires":[]},{"id":"bd2e5064.8f918","type":"change","z":"e756e0fc.a5da1","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["f1fdbfd1.564b5","340c35c8.f6d42a"]]},{"id":"4e66ed3f.237354","type":"comment","z":"e756e0fc.a5da1","name":"All Routes","info":"","x":100,"y":200,"wires":[]},{"id":"8bd610f1.b1d22","type":"comment","z":"e756e0fc.a5da1","name":"Farms","info":"","x":90,"y":560,"wires":[]},{"id":"7326e96d.b9c5c8","type":"switch","z":"e756e0fc.a5da1","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":600,"wires":[["bd2e5064.8f918"]]},{"id":"a33fc4b7.fb42c8","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"89010b0.5501af8","order":2,"width":20,"height":1,"passthru":true,"label":"Actualización Manual","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":340,"y":660,"wires":[["340c35c8.f6d42a"]]},{"id":"340c35c8.f6d42a","type":"function","z":"e756e0fc.a5da1","name":"update cows","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":660,"wires":[["6c7038fe.7f8d38","2a3b92e3.e6be9e"]]},{"id":"6fbff7f1.a8da38","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":660,"wires":[["a33fc4b7.fb42c8"]]},{"id":"2a3b92e3.e6be9e","type":"debug","z":"e756e0fc.a5da1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":660,"wires":[]},{"id":"d36ef32e.01faf","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":160,"y":800,"wires":[["32a3d87b.cceee8"]]},{"id":"86759efe.ba91b","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":160,"y":840,"wires":[["32a3d87b.cceee8"]]},{"id":"5cac1c14.120ab4","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":160,"y":880,"wires":[["32a3d87b.cceee8"]]},{"id":"6ff3d16a.e48a2","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":170,"y":920,"wires":[["32a3d87b.cceee8"]]},{"id":"2ed6383b.e503a8","type":"inject","z":"e756e0fc.a5da1","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":160,"y":960,"wires":[["32a3d87b.cceee8"]]},{"id":"210a2ec1.3ec3e2","type":"comment","z":"e756e0fc.a5da1","name":"Create fake cow GPS position","info":"","x":160,"y":760,"wires":[]},{"id":"32a3d87b.cceee8","type":"function","z":"e756e0fc.a5da1","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":440,"y":880,"wires":[]},{"id":"4c46b2c0.9254fc","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Almar","events":"all","x":550,"y":1100,"wires":[[]]},{"id":"49736e6f.e3042","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":4,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Almar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Almar","payloadType":"str","topic":"payload","topicType":"msg","x":150,"y":1100,"wires":[["4c46b2c0.9254fc"]]},{"id":"cc8b1393.b1108","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Badosa","events":"all","x":560,"y":1160,"wires":[[]]},{"id":"48aae79b.5d0668","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":7,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Badosa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Badosa","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":1160,"wires":[["cc8b1393.b1108"]]},{"id":"2c573d51.c0bf72","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Colom","events":"all","x":560,"y":1220,"wires":[[]]},{"id":"e207b30e.12afb","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":10,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Colom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Colom","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":1220,"wires":[["2c573d51.c0bf72"]]},{"id":"91281cbf.60c3c","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Gener","events":"all","x":560,"y":1280,"wires":[[]]},{"id":"88a9bbf7.83b228","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":13,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Gener","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Gener","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":1280,"wires":[["91281cbf.60c3c"]]},{"id":"117bae12.e28fc2","type":"ui_ui_control","z":"e756e0fc.a5da1","name":"Granja - Mas Siset","events":"all","x":550,"y":1340,"wires":[[]]},{"id":"aaf0c666.9a4e08","type":"ui_button","z":"e756e0fc.a5da1","name":"","group":"3eb82e44.24f752","order":16,"width":6,"height":1,"passthru":false,"label":"Granja - Mas Siset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Siset","payloadType":"str","topic":"payload","topicType":"msg","x":150,"y":1340,"wires":[["117bae12.e28fc2"]]},{"id":"68c111a7.2b876","type":"function","z":"e756e0fc.a5da1","name":"Icono Fabrica","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar route = farm.route;\n\nlocation = route[route.length - 1];\n\nvar fabrica = {\n    \"name\": \"Fabrica\",\n    \"icon\": \"https://img.icons8.com/ios/452/factory.png\",\n    \"lat\": location[0],\n    \"lon\": location[1],\n    \"layer\": \"Fabrica\"\n};\n\nmsg.payload = fabrica;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["e209889f.c19aa8"]]},{"id":"55c84567.97f2fc","type":"function","z":"e756e0fc.a5da1","name":"Icono Granjas","func":"var names = {\n    \"mas_gener\": \"Mas Gener\",\n    \"mas_almar\": \"Mas Almar\",\n    \"can_siset\": \"Can Siset\",\n    \"mas_colom\": \"Mas Colom\",\n    \"mas_badosa\": \"Mas Badosa\"\n};\n\nvar granja = {\n    \"name\": names[msg.farm_name],\n    \"layer\": \"Granjas\",\n    \"icon\": \"https://image.flaticon.com/icons/png/512/119/119301.png\",\n    \"lat\": msg.payload.route[0][0],\n    \"lon\": msg.payload.route[0][1],\n};\n\nmsg.payload = granja;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":320,"wires":[["e209889f.c19aa8"]]},{"id":"6f55ee57.87ba6","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":450,"y":360,"wires":[["2748b407.4db59c"]]},{"id":"ba9b95c6.39a788","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Gener","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_gener\"].route;\n\nposition = flow.get(\"Camion_MasGener\");\n\nif (position < route.length) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Gener\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasGener\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":360,"wires":[["e209889f.c19aa8"]]},{"id":"2748b407.4db59c","type":"random","z":"e756e0fc.a5da1","name":"","low":"0","high":"10","inte":"true","property":"payload","x":620,"y":360,"wires":[["ba9b95c6.39a788","40eb59fd.7261f8","dae71dd9.c8783","45991c0e.daae34","5baaff8a.4db8e"]]},{"id":"62ef871a.263e98","type":"inject","z":"e756e0fc.a5da1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":320,"wires":[["60f0cd3e.b7da54"]]},{"id":"60f0cd3e.b7da54","type":"function","z":"e756e0fc.a5da1","name":"","func":"flow.set(\"Camion_MasGener\", 0);\nflow.set(\"Camion_MasAlmar\", 0);\nflow.set(\"Camion_CanSiset\", 0);\nflow.set(\"Camion_MasColom\", 0);\nflow.set(\"Camion_MasBadosa\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[[]]},{"id":"40eb59fd.7261f8","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Almar","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_almar\"].route;\n\nposition = flow.get(\"Camion_MasAlmar\");\n\nif (position < route.length) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Almar\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasAlmar\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":400,"wires":[["e209889f.c19aa8"]]},{"id":"dae71dd9.c8783","type":"function","z":"e756e0fc.a5da1","name":"Camion Can Siset","func":"farms = flow.get(\"farms\");\nroute = farms[\"can_siset\"].route;\n\nposition = flow.get(\"Camion_CanSiset\");\n\nif (position < route.length) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Can Siset\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_CanSiset\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":440,"wires":[["e209889f.c19aa8"]]},{"id":"45991c0e.daae34","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Colom","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_colom\"].route;\n\nposition = flow.get(\"Camion_MasColom\");\n\nif (position < route.length) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Colom\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasColom\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":480,"wires":[["e209889f.c19aa8"]]},{"id":"5baaff8a.4db8e","type":"function","z":"e756e0fc.a5da1","name":"Camion Mas Badosa","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_badosa\"].route;\n\nposition = flow.get(\"Camion_MasBadosa\");\n\nif (position < route.length) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Badosa\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasBadosa\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":520,"wires":[["e209889f.c19aa8"]]},{"id":"3eb82e44.24f752","type":"ui_group","name":"Rutas","tab":"caa72333.20def","order":2,"disp":true,"width":30,"collapse":false},{"id":"89010b0.5501af8","type":"ui_group","name":"Posicion de las Vacas","tab":"9599d4c3.77ad38","order":1,"disp":true,"width":20,"collapse":false},{"id":"caa72333.20def","type":"ui_tab","name":"Main","icon":"fa-paw","order":7,"disabled":false,"hidden":false},{"id":"9599d4c3.77ad38","type":"ui_tab","name":"Granja - Mas Almar","icon":"dashboard","order":3,"disabled":false,"hidden":false}]