Prototipo/Azure/node-red/flows.json
[{"id":"bb1a3670.3c2fe8","type":"tab","label":"Basic app","disabled":false,"info":""},{"id":"249f9eff.943cf2","type":"tab","label":"IoT Farmers - General","disabled":false,"info":""},{"id":"936db7f7.f91bd8","type":"tab","label":"IoT Farmers - Fabrica","disabled":false,"info":""},{"id":"376612e2.a8cb7e","type":"tab","label":"IoT Farmers - Granjas","disabled":false,"info":""},{"id":"de6ecbc5.785308","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e2981c2.13123","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"230a1e10.94dac2","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[{"x":800,"y":60,"wires":[{"id":"66c23146.3ae85","port":0}]}]},{"id":"630e8219.9de8e4","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f3dcfae5.ad3e9","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"iiot_data","ssl":false},{"id":"2acb4702.a89208","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"postgres","ssl":false},{"id":"db1dafa6.47d0c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"94097e4e.7e5c8","type":"ui_group","name":"Graficos","tab":"e6ac9232.6657d","order":1,"disp":true,"width":21,"collapse":false},{"id":"526c0b2a.66c764","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6ac9232.6657d","type":"ui_tab","name":"Fabrica","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"51aeca90.bfd564","type":"ui_group","name":"Posicion de las Vacas","tab":"4767c35b.da002c","order":1,"disp":true,"width":15,"collapse":false},{"id":"886b1cb4.228a6","type":"ui_group","name":"Estado Cuba","tab":"4767c35b.da002c","order":2,"disp":true,"width":"9","collapse":false},{"id":"629c1977.50ab08","type":"ui_group","name":"Estado Instalación","tab":"4767c35b.da002c","order":3,"disp":true,"width":"9","collapse":false},{"id":"277f223.fcf7bde","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4767c35b.da002c","type":"ui_tab","name":"Granja - Mas Almar","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a1dc5175.e4dea","type":"ui_group","name":"Rutas","tab":"f217f150.759e","order":2,"disp":true,"width":30,"collapse":false},{"id":"f217f150.759e","type":"ui_tab","name":"Main","icon":"fa-paw","order":1,"disabled":false,"hidden":false},{"id":"16c76b11.a836b5","type":"telegram bot","botname":"iotFarmers","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2db9661a.cf3b0a","type":"telegram bot","botname":"rich_iiot_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"56eccd2a.8308d4","type":"ui_group","name":"Interactions","tab":"d29c5eb4.a88af8","order":1,"disp":true,"width":"8","collapse":true},{"id":"38679bc6.7b2314","type":"ui_group","name":"Numbers & Dates","tab":"d29c5eb4.a88af8","order":3,"disp":true,"width":"7","collapse":true},{"id":"62174e65.cea8c","type":"ui_group","name":"Colours","tab":"d29c5eb4.a88af8","order":2,"disp":true,"width":8,"collapse":true},{"id":"7219682a.d414e8","type":"ui_group","name":"Audio","tab":"d29c5eb4.a88af8","order":5,"disp":true,"width":8,"collapse":true},{"id":"26510aa5.3fee7e","type":"ui_group","name":"Database","tab":"d29c5eb4.a88af8","order":6,"disp":true,"width":"8","collapse":true},{"id":"9345face.282d88","type":"ui_group","name":"Email & Password","tab":"d29c5eb4.a88af8","order":4,"disp":true,"width":8,"collapse":true},{"id":"b4a3f1c.6a89d1","type":"ui_group","name":"Graphics","tab":"d29c5eb4.a88af8","order":7,"disp":true,"width":"8","collapse":true},{"id":"cdb3c2d5.f063f","type":"ui_group","name":"Image","tab":"d29c5eb4.a88af8","order":8,"disp":true,"width":"7","collapse":false},{"id":"d29c5eb4.a88af8","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6bbd5c00.29be54","type":"websocket-listener","path":"/server_status","wholemsg":"false"},{"id":"b305fc40.15869","type":"websocket-client","path":"ws://iiot-upc.gleeze.com:1880/server_status","tls":"","wholemsg":"false"},{"id":"8415a8c0.27e148","type":"websocket-listener","path":"/download_json_file","wholemsg":"false"},{"id":"f80d369b.ec4678","type":"websocket-client","path":"ws://localhost:1880/download_json_file","tls":"","wholemsg":"false"},{"id":"d7d45dae.03505","type":"ui_group","name":"Rutas","tab":"ddb08872.494a88","order":2,"disp":true,"width":8,"collapse":false},{"id":"e3f0e395.bb9ae","type":"ui_group","name":"Posición de las Vacas","tab":"ddb08872.494a88","order":2,"disp":true,"width":6,"collapse":false},{"id":"ddb08872.494a88","type":"ui_tab","name":"Granja - Mas Gener","icon":"fa-paw","order":7,"disabled":false,"hidden":false},{"id":"76c143c8.6a7aac","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_data","payloadType":"str","x":160,"y":80,"wires":[["c2b14d42.dd771"]]},{"id":"20ed77e1.6a2c28","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_data","payloadType":"str","x":160,"y":120,"wires":[["5a0065d2.6bae84"]]},{"id":"ae648ae7.6eca","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":180,"wires":[["3acc46d7.93cbba"]]},{"id":"3acc46d7.93cbba","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    id      TEXT            NOT NULL,   \n    temp    FLOAT           NOT NULL,\n    hum     FLOAT           NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":180,"wires":[["ce133332.a3e2a"]]},{"id":"ef3460b4.6e26d","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":340,"y":220,"wires":[["ce133332.a3e2a"]]},{"id":"f25dad01.6f88c8","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":220,"wires":[["ef3460b4.6e26d"]]},{"id":"a54ea5b6.7de0c8","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":260,"wires":[["ce133332.a3e2a"]]},{"id":"c489c158.f5c09","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":260,"wires":[["a54ea5b6.7de0c8"]]},{"id":"c2b14d42.dd771","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE database {{payload}};","output":"str","x":330,"y":80,"wires":[["acbf06d6.4789b8"]]},{"id":"5a0065d2.6bae84","type":"template","z":"bb1a3670.3c2fe8","name":"DROP database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP database {{payload}};","output":"str","x":320,"y":120,"wires":[["acbf06d6.4789b8"]]},{"id":"39bbe251.0354a6","type":"comment","z":"bb1a3670.3c2fe8","name":"Configuration","info":"","x":90,"y":40,"wires":[]},{"id":"ce133332.a3e2a","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":680,"y":340,"wires":[]},{"id":"acbf06d6.4789b8","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"2acb4702.a89208","name":"TimescaleDB - Database","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":770,"y":80,"wires":[]},{"id":"c5c17d6c.09486","type":"azureiotdevice","z":"de6ecbc5.785308","deviceid":"1au9yyilrwq","pnpModelid":"","connectiontype":"dps","authenticationmethod":"sas","iothub":"","isIotcentral":true,"scopeid":"0ne002F5293","enrollmenttype":"device","saskey":"GB+k1PWRojlvX+QJ1geI3fq9UdR8n/nCdLwBsWK5hx4=","certname":"","keyname":"","protocol":"mqtt","retryInterval":30,"methods":[{"name":"enable"},{"name":"disable"}],"DPSpayload":"","gatewayHostname":"","caname":"","cert":"","key":"","ca":"","x":740,"y":380,"wires":[["819528a6.d47eb8"]]},{"id":"673bffba.e123b","type":"azureiotdevice","z":"de6ecbc5.785308","deviceid":"1i4egtox10h","pnpModelid":"","connectiontype":"dps","authenticationmethod":"sas","iothub":"","isIotcentral":true,"scopeid":"0ne002F5293","enrollmenttype":"device","saskey":"GCO0e6cx8ZPWZsF2O1lGyTlqh/KDfQXQflSx8req7/w=","certname":"","keyname":"","protocol":"mqtt","retryInterval":30,"methods":[],"DPSpayload":"","gatewayHostname":"","caname":"","cert":"","key":"","ca":"","x":740,"y":440,"wires":[[]]},{"id":"c5e01c0f.8d59b","type":"change","z":"de6ecbc5.785308","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"temperatura\":20,\"humidity\":45.3,\"battery\":10.2}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"telemetry","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["c5c17d6c.09486"]]},{"id":"61a50eea.1b331","type":"inject","z":"de6ecbc5.785308","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":380,"wires":[["c5e01c0f.8d59b"]]},{"id":"819528a6.d47eb8","type":"debug","z":"de6ecbc5.785308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"1ff0f0b3.8fea4f","type":"http in","z":"de6ecbc5.785308","name":"","url":"/noderedwebhook","method":"post","upload":false,"swaggerDoc":"","x":330,"y":600,"wires":[["509cf5e0.42692c","bed63ae8.ca5ab8"]]},{"id":"509cf5e0.42692c","type":"http response","z":"de6ecbc5.785308","name":"","statusCode":"","headers":{},"x":670,"y":600,"wires":[]},{"id":"bed63ae8.ca5ab8","type":"debug","z":"de6ecbc5.785308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":640,"wires":[]},{"id":"ea49e2ee.6d1ff","type":"comment","z":"936db7f7.f91bd8","name":"Fabrica","info":"","x":130,"y":80,"wires":[]},{"id":"ca53dea3.87396","type":"link out","z":"936db7f7.f91bd8","name":"R1_Temp_Tnk1","links":["3bf21a82.25d766"],"x":1275,"y":280,"wires":[]},{"id":"a8cae88b.258398","type":"link out","z":"936db7f7.f91bd8","name":"R1_Capacity_Tnk1","links":["43861a42.343554","8e3ccdce.5a4e7"],"x":1275,"y":320,"wires":[]},{"id":"7352c2b.5cd933c","type":"change","z":"936db7f7.f91bd8","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":820,"wires":[["d1d06cd3.6e468","2b0681e3.8e033e"]]},{"id":"f233533c.43719","type":"switch","z":"936db7f7.f91bd8","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":820,"wires":[["7352c2b.5cd933c"]]},{"id":"897190f9.65b91","type":"ui_toast","z":"936db7f7.f91bd8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":980,"y":820,"wires":[["f233533c.43719"]]},{"id":"3bf21a82.25d766","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["ca53dea3.87396","1293fd8b.dce262"],"x":1455,"y":872,"wires":[["2b0681e3.8e033e","e35196b6.b71f08"]]},{"id":"b3fa3f5a.0dcd1","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Temperature Tnk 2","group":"94097e4e.7e5c8","order":6,"width":3,"height":2,"gtype":"gage","title":"{{msg.topic}}","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1650,"y":920,"wires":[]},{"id":"b8a04c9.057b0b","type":"ui_button","z":"936db7f7.f91bd8","name":"Erase button","group":"94097e4e.7e5c8","order":17,"width":8,"height":1,"passthru":false,"label":"Erase chart","tooltip":"","color":"white","bgcolor":"red","icon":"warning","payload":"Do you want to erase all the chart?","payloadType":"str","topic":"","topicType":"str","x":830,"y":820,"wires":[["897190f9.65b91"]]},{"id":"d1d06cd3.6e468","type":"ui_chart","z":"936db7f7.f91bd8","name":"Capacity","group":"94097e4e.7e5c8","order":10,"width":9,"height":4,"label":"Tank Capacity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1620,"y":1020,"wires":[[]]},{"id":"2b0681e3.8e033e","type":"ui_chart","z":"936db7f7.f91bd8","name":"Temperautre Chart1","group":"94097e4e.7e5c8","order":11,"width":9,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":820,"wires":[[]]},{"id":"eb81be9.ce5f54","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Truck Distance","group":"94097e4e.7e5c8","order":4,"width":3,"height":2,"gtype":"donut","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":1640,"y":1240,"wires":[]},{"id":"8da3b150.accf5","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Capacity Tnk 2","group":"94097e4e.7e5c8","order":3,"width":3,"height":2,"gtype":"wave","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":1640,"y":1180,"wires":[]},{"id":"cd69ea9d.169928","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Capacity Tnk 1","group":"94097e4e.7e5c8","order":2,"width":3,"height":2,"gtype":"wave","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":1640,"y":1120,"wires":[]},{"id":"e35196b6.b71f08","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Temperature Tnk 1","group":"94097e4e.7e5c8","order":5,"width":3,"height":2,"gtype":"gage","title":"{{msg.topic}}","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1650,"y":872,"wires":[]},{"id":"78771df2.a6f4e4","type":"function","z":"936db7f7.f91bd8","name":"SepararDatos","func":"\n\nvar msg1 = { payload:msg.payload.R1.t_tk1 };\nmsg1.topic='Temp_Tnk1';\n\nvar msg2 = { payload:msg.payload.R1.l_tk1 };\nmsg2.topic='Litros_Tnk1';\n\nvar msg3 = { payload:msg.payload.R1.t_tk1 };\nmsg3.topic='Temp_Tnk2';\n\nvar msg4 = { payload:msg.payload.R1.l_tk1 };\nmsg4.topic='Litros_Tnk2';\n\nvar msg5 = { payload:msg.payload.R1.d_cmn };\nmsg5.topic='Truck_Distance';\n\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":1120,"y":360,"wires":[["ca53dea3.87396"],["a8cae88b.258398"],["c4354bc3.06dac8"],["b88e6064.d5d5b"],["bda10131.76eb3"]]},{"id":"c4354bc3.06dac8","type":"link out","z":"936db7f7.f91bd8","name":"R1_Temp_Tnk2","links":["fb95768.e705288","4ce828b.baa26d8"],"x":1275,"y":360,"wires":[]},{"id":"672a4e05.26097","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/Ambient","qos":"0","datatype":"json","broker":"526c0b2a.66c764","x":820,"y":220,"wires":[["1cb5935f.fc1d1d"]]},{"id":"1cb5935f.fc1d1d","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"af274705.8075c8","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/Reception","qos":"0","datatype":"json","broker":"526c0b2a.66c764","x":830,"y":280,"wires":[["280be528.9473ca","78771df2.a6f4e4"]]},{"id":"280be528.9473ca","type":"debug","z":"936db7f7.f91bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":280,"wires":[]},{"id":"7655a2b.108bf5c","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/AmbTemp","qos":"0","datatype":"utf8","broker":"526c0b2a.66c764","x":830,"y":492,"wires":[["a456f3c.782511"]]},{"id":"a456f3c.782511","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":492,"wires":[]},{"id":"bb808ce.3d50d7","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/AmbHum","qos":"0","datatype":"utf8","broker":"526c0b2a.66c764","x":820,"y":552,"wires":[["34f77ac7.47be66"]]},{"id":"34f77ac7.47be66","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":552,"wires":[]},{"id":"20aee152.a5719e","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/AmbLux","qos":"0","datatype":"utf8","broker":"526c0b2a.66c764","x":820,"y":612,"wires":[["eeb85084.36bf4"]]},{"id":"eeb85084.36bf4","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":612,"wires":[]},{"id":"b88e6064.d5d5b","type":"link out","z":"936db7f7.f91bd8","name":"R1_Capacity_Tnk2","links":["fb95768.e705288","5869e072.4e258"],"x":1275,"y":400,"wires":[]},{"id":"bda10131.76eb3","type":"link out","z":"936db7f7.f91bd8","name":"R1_Truck_Distance","links":["fb95768.e705288","566f295c.4a6998"],"x":1275,"y":440,"wires":[]},{"id":"4ce828b.baa26d8","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["c4354bc3.06dac8"],"x":1455,"y":920,"wires":[["b3fa3f5a.0dcd1","2b0681e3.8e033e"]]},{"id":"8e3ccdce.5a4e7","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["a8cae88b.258398"],"x":1455,"y":1120,"wires":[["cd69ea9d.169928","d1d06cd3.6e468"]]},{"id":"5869e072.4e258","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["b88e6064.d5d5b"],"x":1455,"y":1180,"wires":[["8da3b150.accf5","d1d06cd3.6e468"]]},{"id":"566f295c.4a6998","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["bda10131.76eb3"],"x":1455,"y":1240,"wires":[["eb81be9.ce5f54"]]},{"id":"f45e0e5d.0430d","type":"function","z":"376612e2.a8cb7e","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1380,"wires":[[]]},{"id":"28ed5555.785cca","type":"worldmap in","z":"376612e2.a8cb7e","name":"","path":"/map/farm1","events":"all","x":200,"y":1380,"wires":[["fa911146.356e6"]]},{"id":"6a51ab6e.5aeab4","type":"ui_worldmap","z":"376612e2.a8cb7e","group":"51aeca90.bfd564","order":1,"width":15,"height":12,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":730,"y":1540,"wires":[]},{"id":"68210e55.d3814","type":"change","z":"376612e2.a8cb7e","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1380,"wires":[["f45e0e5d.0430d"]]},{"id":"31a7cc68.7d2924","type":"comment","z":"376612e2.a8cb7e","name":"Farms","info":"","x":130,"y":1340,"wires":[]},{"id":"fa911146.356e6","type":"switch","z":"376612e2.a8cb7e","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":1380,"wires":[["68210e55.d3814"]]},{"id":"f11aec74.678ef","type":"ui_button","z":"376612e2.a8cb7e","name":"","group":"51aeca90.bfd564","order":2,"width":0,"height":0,"passthru":true,"label":"Actualización Manual","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":840,"y":1720,"wires":[[]]},{"id":"755b7cfe.2bace4","type":"function","z":"376612e2.a8cb7e","name":"update cows","func":"farms = global.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    cows[index].temp = Math.round(Math.random() * 3 + 38);\n    cows[index].hb = Math.round(Math.random() * 20 + 70);\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1480,"wires":[["ad15be90.94225","a4cff672.5e5bf8"]]},{"id":"fa5ac0fc.3bc9d","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":1720,"wires":[["f11aec74.678ef"]]},{"id":"9fba9a21.d70898","type":"debug","z":"376612e2.a8cb7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":1480,"wires":[]},{"id":"7a8fca3f.64b494","type":"ui_toast","z":"376612e2.a8cb7e","position":"top right","displayTime":"3","highlight":"Red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alarma de Temperatura!","name":"Temperatura","x":1050,"y":1660,"wires":[]},{"id":"ad15be90.94225","type":"switch","z":"376612e2.a8cb7e","name":"Alarma","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":1540,"wires":[["f4533742.708668"]]},{"id":"9fad0490.ce8aa8","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":1740,"wires":[[]]},{"id":"5d7a9ae0.26f8a4","type":"function","z":"376612e2.a8cb7e","name":"Declare Cubas","func":"\n\nvar cubas= {\"MasGener\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasAlmar\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"CanSiset\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}],\n            \"MasColom\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasBadosa\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}]\n            };\n    \nflow.set(\"Cubas\", cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1740,"wires":[[]]},{"id":"a1b0c2c7.2ccb2","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1800,"wires":[[]]},{"id":"54d46f50.e7bd9","type":"function","z":"376612e2.a8cb7e","name":"Simular Cubas","func":"\nvar cubas=flow.get(\"Cubas\");\n  \ncubas.MasGener[0].Temp=(Math.random() * 2 + 3);\ncubas.MasAlmar[0].Temp=(Math.random() * 2 + 3);\ncubas.CanSiset[0].Temp=(Math.random() * 2 + 3);\ncubas.MasColom[0].Temp=(Math.random() * 2 + 3);\ncubas.MasBadosa[0].Temp=(Math.random() * 2 + 3);\n\nif (cubas.MasGener[0].VolR < cubas.MasGener[0].VolT)\n{\n    cubas.MasGener[0].VolR++;     \n}else{\n    //cubas.MasGener[0].VolR=cubas.MasGener[0].VolT\n}\n\nif(cubas.MasAlmar[0].VolR  < cubas.MasAlmar[0].VolT)\n{\n     cubas.MasAlmar[0].VolR=cubas.MasAlmar[0].VolR+30; \n}else{\n    cubas.MasAlmar[0].VolR=(Math.random() * 1000 + 3000);\n}\n\nif (cubas.CanSiset[0].VolR < cubas.CanSiset[0].VolT)\n{\n    cubas.CanSiset[0].VolR++;\n}else{\n    cubas.CanSiset[0].VolR=cubas.CanSiset[0].VolT\n}\n\nif (cubas.MasColom[0].VolR < cubas.MasColom[0].VolT)\n{\n    cubas.MasColom[0].VolR++;\n}else{\n    cubas.MasColom[0].VolR=cubas.MasColom.VolT\n}\n\nif (cubas.MasBadosa[0].VolR < cubas.MasBadosa[0].VolT)\n{\n    cubas.MasBadosa[0].VolR++;\n}else{\n    cubas.MasBadosa[0].VolR=cubas.MasBadosa[0].VolT\n}\n\nflow.set(\"Cubas\",cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1800,"wires":[["29e85952.62c166"]]},{"id":"d5fa2241.67f0c","type":"ui_gauge","z":"376612e2.a8cb7e","name":"Volumen","group":"886b1cb4.228a6","order":2,"width":9,"height":6,"gtype":"wave","title":"{{msg.topic}}","label":"L","format":"{{msg.payload}}","min":"0","max":"5000","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":880,"y":1660,"wires":[]},{"id":"29e85952.62c166","type":"function","z":"376612e2.a8cb7e","name":"Obtener datos Cuba","func":"\nvar cubas=flow.get(\"Cubas\");\n\nvar msg1 = { payload:cubas.MasAlmar[0].Temp.toFixed(2) };\nmsg1.topic='Temp';  \n\n\nmsg.payload=cubas.MasAlmar[0].VolR\nmsg.topic='Volumen'\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":1800,"wires":[[],["50e7ab5a.9a74e4"]]},{"id":"50e7ab5a.9a74e4","type":"ui_gauge","z":"376612e2.a8cb7e","name":"Temperatura","group":"886b1cb4.228a6","order":3,"width":9,"height":6,"gtype":"gage","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"3","max":"5","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":830,"y":1820,"wires":[]},{"id":"a20c27b6.65c628","type":"comment","z":"376612e2.a8cb7e","name":"Cubas","info":"","x":130,"y":60,"wires":[]},{"id":"b1a4da86.ecb988","type":"comment","z":"376612e2.a8cb7e","name":"Instalaciones Granja","info":"","x":170,"y":1860,"wires":[]},{"id":"c2055ba3.995978","type":"inject","z":"376612e2.a8cb7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1920,"wires":[["37b3e288.ed00ae"]]},{"id":"37b3e288.ed00ae","type":"function","z":"376612e2.a8cb7e","name":"Simular Temperatura","func":"\n\nmsg.payload=Math.round(Math.random() * (10) + 25);\nmsg.topic='Temp'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1920,"wires":[["ea6f5f7.11c51a","5bc784c6.4956dc"]]},{"id":"ea6f5f7.11c51a","type":"ui_gauge","z":"376612e2.a8cb7e","name":"Temperatura","group":"629c1977.50ab08","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"ºC","format":"{{msg.payload}}","min":"5","max":"40","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":690,"y":1920,"wires":[]},{"id":"5bc784c6.4956dc","type":"ui_chart","z":"376612e2.a8cb7e","name":"Temperautre Chart1","group":"629c1977.50ab08","order":3,"width":9,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":1960,"wires":[[]]},{"id":"f4533742.708668","type":"link out","z":"376612e2.a8cb7e","name":"TempVaca","links":["76b830c0.4bd9f","6260dee5.05646"],"x":1175,"y":1540,"wires":[]},{"id":"a4cff672.5e5bf8","type":"switch","z":"376612e2.a8cb7e","name":"Alarma","property":"payload.hb","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":1600,"wires":[["4a2c7f12.e132c"]]},{"id":"4a2c7f12.e132c","type":"link out","z":"376612e2.a8cb7e","name":"HBVaca","links":["83bd102c.40069","5bf7b132.4e731"],"x":1175,"y":1600,"wires":[]},{"id":"5a7f4b69.deeb84","type":"comment","z":"376612e2.a8cb7e","name":"CSV","info":"","x":130,"y":2000,"wires":[]},{"id":"6260dee5.05646","type":"link in","z":"376612e2.a8cb7e","name":"","links":["22fbc4c1.fbaafc","f4533742.708668"],"x":155,"y":2040,"wires":[["52af391e.582688"]]},{"id":"be1ae30c.4cba4","type":"csv","z":"376612e2.a8cb7e","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"mult","ret":"\\n","temp":"","skip":"1","strings":true,"include_empty_strings":false,"include_null_values":false,"x":530,"y":2040,"wires":[["918ddcfa.df536","f778c7c5.ce0578"]]},{"id":"52af391e.582688","type":"change","z":"376612e2.a8cb7e","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.hb","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"Temperatura","tot":"str"},{"t":"delete","p":"payload.temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2040,"wires":[["be1ae30c.4cba4"]]},{"id":"918ddcfa.df536","type":"file","z":"376612e2.a8cb7e","name":"","filename":"/data/CowData.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":710,"y":2040,"wires":[[]]},{"id":"5bf7b132.4e731","type":"link in","z":"376612e2.a8cb7e","name":"","links":["e98f3308.b0a2c","4a2c7f12.e132c"],"x":155,"y":2100,"wires":[["4e6dc308.e12a0c"]]},{"id":"4e6dc308.e12a0c","type":"change","z":"376612e2.a8cb7e","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"move","p":"payload.hb","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.temp","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"HeartBeat","tot":"str"},{"t":"delete","p":"payload.hb","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":2100,"wires":[["be1ae30c.4cba4"]]},{"id":"f778c7c5.ce0578","type":"debug","z":"376612e2.a8cb7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2100,"wires":[]},{"id":"524713ae.88d25c","type":"link in","z":"376612e2.a8cb7e","name":"Volumout","links":["5ff48896.2d8598"],"x":735,"y":1620,"wires":[["d5fa2241.67f0c"]]},{"id":"cae50afc.6fe6d8","type":"mqtt in","z":"376612e2.a8cb7e","name":"","topic":"84:CC:A8:4C:76:2C/Vaca","qos":"2","datatype":"json","broker":"277f223.fcf7bde","x":230,"y":1540,"wires":[["8e85d462.e14738"]]},{"id":"9d56ea6a.2b6648","type":"debug","z":"376612e2.a8cb7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1460,"wires":[]},{"id":"8e85d462.e14738","type":"function","z":"376612e2.a8cb7e","name":"update cows","func":"\n\nvar cow = {\"name\":msg.payload.n,icon:\":cow2:\",layer:\"cows\",lat:msg.payload.lt,lon:msg.payload.lg,temp:msg.payload.t,hb:msg.payload.hb};\n\n\nvar msg1 = {payload:cow};\nnode.send(msg1);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1540,"wires":[["6a51ab6e.5aeab4"]]},{"id":"aa188666.3cc778","type":"inject","z":"249f9eff.943cf2","name":"read","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["615a31e2.a286b8"]]},{"id":"6093b647.83aad8","type":"file in","z":"249f9eff.943cf2","name":"routes","filename":"/data/rutas.kml.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":140,"wires":[["e8b548b3.7e11b8"]]},{"id":"e8b548b3.7e11b8","type":"xml","z":"249f9eff.943cf2","name":"","property":"payload","attr":"","chr":"","x":410,"y":140,"wires":[["a3d2ab78.b8864"]]},{"id":"a3d2ab78.b8864","type":"function","z":"249f9eff.943cf2","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[]},{"id":"615a31e2.a286b8","type":"file in","z":"249f9eff.943cf2","name":"farms","filename":"/data/granjas.kml.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":100,"wires":[["8020893f.91ec58"]]},{"id":"8020893f.91ec58","type":"xml","z":"249f9eff.943cf2","name":"","property":"payload","attr":"","chr":"","x":410,"y":100,"wires":[["2f87645d.d616ac"]]},{"id":"2f87645d.d616ac","type":"function","z":"249f9eff.943cf2","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\nglobal.set(\"farms\", farms);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["6093b647.83aad8"]]},{"id":"f0927afd.a463d","type":"comment","z":"249f9eff.943cf2","name":"Read configuration files","info":"","x":140,"y":60,"wires":[]},{"id":"ade0539b.ee7d58","type":"ui_worldmap","z":"249f9eff.943cf2","group":"a1dc5175.e4dea","order":1,"width":23,"height":14,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes","x":1310,"y":240,"wires":[]},{"id":"5f2e96b7.945078","type":"worldmap in","z":"249f9eff.943cf2","name":"","path":"/map/routes","events":"connect","x":161,"y":240,"wires":[["7ee84226.0d15cc"]]},{"id":"7ee84226.0d15cc","type":"change","z":"249f9eff.943cf2","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["5e617a78.f3c27c"]]},{"id":"5e617a78.f3c27c","type":"split","z":"249f9eff.943cf2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":750,"y":240,"wires":[["90c8add.0648f5","2ee1d96f.9879c6","4877c96b.5495b"]]},{"id":"90c8add.0648f5","type":"function","z":"249f9eff.943cf2","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\",\n    \"mas_almar\": \"blue\",\n    \"can_siset\": \"green\",\n    \"mas_colom\": \"yellow\",\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name],\n    \"layer\": \"Rutas\"\n};\n\nmsg.payload = route;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":240,"wires":[["ade0539b.ee7d58"]]},{"id":"b8c4333f.f0cea8","type":"comment","z":"249f9eff.943cf2","name":"Simulacion datos Camion","info":"","x":150,"y":200,"wires":[]},{"id":"af2ab7b8.c51508","type":"inject","z":"249f9eff.943cf2","name":"","props":[{"p":"payload","v":"20","vt":"num"},{"p":"topic","v":"mas_gener","vt":"string"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":180,"y":560,"wires":[["5679fda2.824a64"]]},{"id":"5575cea8.f8a17","type":"inject","z":"249f9eff.943cf2","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":180,"y":600,"wires":[["5679fda2.824a64"]]},{"id":"224b658.a54ac9a","type":"inject","z":"249f9eff.943cf2","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":180,"y":640,"wires":[["5679fda2.824a64"]]},{"id":"1f628415.6b6f8c","type":"inject","z":"249f9eff.943cf2","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":190,"y":680,"wires":[["5679fda2.824a64"]]},{"id":"76c57877.237438","type":"inject","z":"249f9eff.943cf2","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":180,"y":720,"wires":[["5679fda2.824a64"]]},{"id":"c31d0b54.0252f","type":"comment","z":"249f9eff.943cf2","name":"Create fake cow GPS position","info":"","x":180,"y":520,"wires":[]},{"id":"5679fda2.824a64","type":"function","z":"249f9eff.943cf2","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":460,"y":640,"wires":[]},{"id":"6219fdd6.2d5304","type":"ui_ui_control","z":"249f9eff.943cf2","name":"Granja - Mas Almar","events":"all","x":590,"y":1320,"wires":[[]]},{"id":"fa94d007.1525e","type":"ui_button","z":"249f9eff.943cf2","name":"","group":"a1dc5175.e4dea","order":3,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Almar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Almar","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1320,"wires":[["6219fdd6.2d5304"]]},{"id":"82edf5d6.4bcef","type":"ui_ui_control","z":"249f9eff.943cf2","name":"Granja - Mas Badosa","events":"all","x":600,"y":1380,"wires":[[]]},{"id":"8b308e00.fedd5","type":"ui_button","z":"249f9eff.943cf2","name":"","group":"a1dc5175.e4dea","order":5,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Badosa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Badosa","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1380,"wires":[["82edf5d6.4bcef"]]},{"id":"9b71718b.1624a8","type":"ui_ui_control","z":"249f9eff.943cf2","name":"Granja - Mas Colom","events":"all","x":600,"y":1440,"wires":[[]]},{"id":"96624f14.88339","type":"ui_button","z":"249f9eff.943cf2","name":"","group":"a1dc5175.e4dea","order":7,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Colom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Colom","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1440,"wires":[["9b71718b.1624a8"]]},{"id":"de899d70.143378","type":"ui_ui_control","z":"249f9eff.943cf2","name":"Granja - Mas Gener","events":"all","x":600,"y":1500,"wires":[[]]},{"id":"681b325c.045d34","type":"ui_button","z":"249f9eff.943cf2","name":"","group":"a1dc5175.e4dea","order":9,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Gener","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Gener","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1500,"wires":[["de899d70.143378"]]},{"id":"bffad588.d482c8","type":"ui_ui_control","z":"249f9eff.943cf2","name":"Granja - Mas Siset","events":"all","x":590,"y":1560,"wires":[[]]},{"id":"a9852475.fcefe8","type":"ui_button","z":"249f9eff.943cf2","name":"","group":"a1dc5175.e4dea","order":11,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Siset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Siset","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1560,"wires":[["bffad588.d482c8"]]},{"id":"2ee1d96f.9879c6","type":"function","z":"249f9eff.943cf2","name":"Icono Fabrica","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar route = farm.route;\n\nlocation = route[route.length - 1];\n\nvar fabrica = {\n    \"name\": \"Fabrica\",\n    \"icon\": \"https://img.icons8.com/ios/452/factory.png\",\n    \"lat\": location[0],\n    \"lon\": location[1],\n    \"layer\": \"Fabrica\"\n};\n\nmsg.payload = fabrica;\n\nmsg.farms = farms;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["ade0539b.ee7d58"]]},{"id":"4877c96b.5495b","type":"function","z":"249f9eff.943cf2","name":"Icono Granjas","func":"var names = {\n    \"mas_gener\": \"Mas Gener\",\n    \"mas_almar\": \"Mas Almar\",\n    \"can_siset\": \"Can Siset\",\n    \"mas_colom\": \"Mas Colom\",\n    \"mas_badosa\": \"Mas Badosa\"\n};\n\nvar granja = {\n    \"name\": names[msg.farm_name],\n    \"layer\": \"Granjas\",\n    \"icon\": \"https://image.flaticon.com/icons/png/512/119/119301.png\",\n    \"lat\": msg.payload.route[0][0],\n    \"lon\": msg.payload.route[0][1],\n};\n\nmsg.payload = granja;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":320,"wires":[["ade0539b.ee7d58"]]},{"id":"d10797f8.a2aff8","type":"inject","z":"249f9eff.943cf2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":450,"y":360,"wires":[["e999da.dea19e28"]]},{"id":"cfa44ab2.2095","type":"function","z":"249f9eff.943cf2","name":"Camion Mas Gener","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_gener\"].route;\n\nposition = flow.get(\"Camion_MasGener\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Gener\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"temp\": Math.random()*(5.0 - 3.0) + 3.0,\n    \"level\": Math.random()*(100.0 - 80.0) + 80.0,\n    \"matricula\": '0407FCM',\n    \"granja\": \"Mas Gener\",\n    \"tempMotor\": Math.random()*(100.0 - 70.0) + 70.0,\n    \"km\": 30909,\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasGener\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":360,"wires":[["ade0539b.ee7d58","626b9480.7f913c","a54f39d7.59638"]]},{"id":"d715b722.0a2ca8","type":"inject","z":"249f9eff.943cf2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":320,"wires":[["a480a8b6.b1e74"]]},{"id":"a480a8b6.b1e74","type":"function","z":"249f9eff.943cf2","name":"","func":"flow.set(\"Camion_MasGener\", 0);\nflow.set(\"Camion_MasAlmar\", 0);\nflow.set(\"Camion_CanSiset\", 0);\nflow.set(\"Camion_MasColom\", 0);\nflow.set(\"Camion_MasBadosa\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[[]]},{"id":"5d8625b8.6340f4","type":"function","z":"249f9eff.943cf2","name":"Camion Mas Almar","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_almar\"].route;\n\nposition = flow.get(\"Camion_MasAlmar\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Almar\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"temp\": Math.random()*(5.0 - 3.0) + 3.0,\n    \"level\": Math.random()*(100.0 - 80.0) + 80.0,\n    \"matricula\": '1184FCM',\n    \"granja\": \"Mas Almar\",\n    \"tempMotor\": Math.random()*(100.0 - 70.0) + 70.0,\n    \"km\": 30909,\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasAlmar\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":400,"wires":[["ade0539b.ee7d58","a54f39d7.59638"]]},{"id":"6334a42b.618b84","type":"function","z":"249f9eff.943cf2","name":"Camion Can Siset","func":"farms = flow.get(\"farms\");\nroute = farms[\"can_siset\"].route;\n\nposition = flow.get(\"Camion_CanSiset\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Can Siset\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"temp\": Math.random()*(5.0 - 3.0) + 3.0,\n    \"level\": Math.random()*(100.0 - 80.0) + 80.0,\n    \"matricula\": '9264FCM',\n    \"granja\": \"Can Siset\",\n    \"tempMotor\": Math.random()*(100.0 - 70.0) + 70.0,\n    \"km\": 30909,\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_CanSiset\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":440,"wires":[["ade0539b.ee7d58","a54f39d7.59638"]]},{"id":"e167182b.990608","type":"function","z":"249f9eff.943cf2","name":"Camion Mas Colom","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_colom\"].route;\n\nposition = flow.get(\"Camion_MasColom\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Colom\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"temp\": Math.random()*(5.0 - 3.0) + 3.0,\n    \"level\": Math.random()*(100.0 - 80.0) + 80.0,\n    \"matricula\": '8764FCM',\n    \"granja\": \"Mas Colom\",\n    \"tempMotor\": Math.random()*(100.0 - 70.0) + 70.0,\n    \"km\": 30909,\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasColom\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":480,"wires":[["ade0539b.ee7d58","a54f39d7.59638"]]},{"id":"8bce2dca.00403","type":"function","z":"249f9eff.943cf2","name":"Camion Mas Badosa","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_badosa\"].route;\n\nposition = flow.get(\"Camion_MasBadosa\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Badosa\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"temp\": Math.random()*(5.0 - 3.0) + 3.0,\n    \"level\": Math.random()*(100.0 - 80.0) + 80.0,\n    \"matricula\": '2456FCM',\n    \"granja\": \"Mas Badosa\",\n    \"tempMotor\": Math.random()*(100.0 - 70.0) + 70.0,\n    \"km\": 30909,\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasBadosa\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":520,"wires":[["ade0539b.ee7d58","a54f39d7.59638"]]},{"id":"9cc3bb62.8a77d","type":"comment","z":"249f9eff.943cf2","name":"Dashboard index","info":"","x":120,"y":1260,"wires":[]},{"id":"24e159ca.33edee","type":"ui_ui_control","z":"249f9eff.943cf2","name":"Fabrica","events":"all","x":560,"y":1620,"wires":[[]]},{"id":"9bf7d936.78f41","type":"ui_button","z":"249f9eff.943cf2","name":"","group":"a1dc5175.e4dea","order":14,"width":7,"height":1,"passthru":false,"label":"Fabrica","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Fabrica","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":1620,"wires":[["24e159ca.33edee"]]},{"id":"e999da.dea19e28","type":"random","z":"249f9eff.943cf2","name":"","low":"0","high":"10","inte":"true","property":"payload","x":620,"y":360,"wires":[["cfa44ab2.2095","5d8625b8.6340f4","6334a42b.618b84","e167182b.990608","8bce2dca.00403"]]},{"id":"626b9480.7f913c","type":"debug","z":"249f9eff.943cf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":360,"wires":[]},{"id":"e0e27683.202998","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"truck_readings","payloadType":"str","x":140,"y":320,"wires":[["a63bfe57.949728"]]},{"id":"a63bfe57.949728","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    matricula   TEXT            NOT NULL,   \n    lat     FLOAT           NOT NULL,\n    lon     FLOAT           NOT NULL,\n    temp    FLOAT           NOT NULL,\n    level   FLOAT           NOT NULL,\n    km      INT             NOT NULL,\n    tempMotor   FLOAT       NOT NULL,\n    granja  TEXT            NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":320,"wires":[["ce133332.a3e2a"]]},{"id":"92e30b02.b0b2c","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":400,"wires":[["ce133332.a3e2a"]]},{"id":"d022c31e.66014","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"truck_readings","payloadType":"str","x":140,"y":400,"wires":[["92e30b02.b0b2c"]]},{"id":"daebe64f.e98758","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tank_readings","payloadType":"str","x":130,"y":440,"wires":[["68d23d46.05d6a4"]]},{"id":"68d23d46.05d6a4","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    idFarm          TEXT            NOT NULL,\n    Temperature     FLOAT               NULL,   \n    Volume          FLOAT               NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":440,"wires":[["ce133332.a3e2a"]]},{"id":"213eb61.52bee4a","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":520,"wires":[["ce133332.a3e2a"]]},{"id":"b4995f76.c8c65","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tank_readings","payloadType":"str","x":130,"y":520,"wires":[["213eb61.52bee4a"]]},{"id":"99fc9d7e.b987a","type":"template","z":"376612e2.a8cb7e","name":"INSERT INTO tank_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO tank_readings (time, idFarm, Temperature, Volume) \nVALUES ('{{payload.time}}','{{payload.idFarm}}', '{{payload.T}}', {{payload.V}});\n        \n","output":"str","x":620,"y":120,"wires":[["f4c73822.315a78"]]},{"id":"f4c73822.315a78","type":"postgres","z":"376612e2.a8cb7e","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":900,"y":120,"wires":[]},{"id":"2464785c.f15bc8","type":"mqtt in","z":"376612e2.a8cb7e","name":"","topic":"Farm/+/Cuba","qos":"2","datatype":"json","broker":"630e8219.9de8e4","nl":false,"rap":false,"x":150,"y":120,"wires":[["9c1e18d7.7b23d8"]]},{"id":"9c1e18d7.7b23d8","type":"function","z":"376612e2.a8cb7e","name":"FormatMessage","func":"msg.payload.time = new Date().toISOString();\n\nvar aux_farm =msg.topic.split(\"/\");\nmsg.payload.idFarm=aux_farm[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[["99fc9d7e.b987a"]]},{"id":"82890caa.4623a","type":"template","z":"249f9eff.943cf2","name":"INSERT INTO truck_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO truck_readings (time, matricula, lat, lon, temp, level, km, tempMotor, granja) \nVALUES ('{{payload.time}}', '{{payload.matricula}}', {{payload.lat}}, {{payload.lon}}, {{payload.temp}}, {{payload.level}}, {{payload.km}}, {{payload.tempMotor}}, '{{payload.granja}}');","output":"str","x":1580,"y":420,"wires":[["8609e41f.b10a98","21035bc1.268994"]]},{"id":"a54f39d7.59638","type":"function","z":"249f9eff.943cf2","name":"ISO Timestamp","func":"msg.payload.time = new Date().toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":420,"wires":[["82890caa.4623a","54e0f823.636a8"]]},{"id":"8609e41f.b10a98","type":"postgres","z":"249f9eff.943cf2","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1860,"y":420,"wires":[]},{"id":"54e0f823.636a8","type":"debug","z":"249f9eff.943cf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1520,"y":480,"wires":[]},{"id":"21035bc1.268994","type":"debug","z":"249f9eff.943cf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1780,"y":480,"wires":[]},{"id":"1d83ad44.a460e3","type":"template","z":"376612e2.a8cb7e","name":"INSERT INTO farm_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO farm_readings (time, idFarm, Temperature, Humidity) \nVALUES ('{{payload.time}}','{{payload.idFarm}}', '{{payload.T}}', {{payload.H}});\n        \n","output":"str","x":620,"y":220,"wires":[["e6b694cb.ec9678"]]},{"id":"e6b694cb.ec9678","type":"postgres","z":"376612e2.a8cb7e","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":900,"y":220,"wires":[]},{"id":"a229c8b2.96ef68","type":"mqtt in","z":"376612e2.a8cb7e","name":"","topic":"Farm/+/Estancia","qos":"2","datatype":"json","broker":"630e8219.9de8e4","nl":false,"rap":false,"x":160,"y":220,"wires":[["135a2ab0.774f35"]]},{"id":"135a2ab0.774f35","type":"function","z":"376612e2.a8cb7e","name":"FormatMessage","func":"msg.payload.time = new Date().toISOString();\n\nvar aux_farm =msg.topic.split(\"/\");\nmsg.payload.idFarm=aux_farm[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["1d83ad44.a460e3"]]},{"id":"8e4ebd4.c73f84","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"farm_readings","payloadType":"str","x":110,"y":580,"wires":[["471dac39.1806a4"]]},{"id":"471dac39.1806a4","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    idFarm          TEXT            NOT NULL,\n    Temperature     FLOAT               NULL,   \n    Humidity        FLOAT               NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":580,"wires":[["ce133332.a3e2a"]]},{"id":"5b8cd429.8fdb7c","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":660,"wires":[["ce133332.a3e2a"]]},{"id":"a7fd1977.30e158","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"farm_readings","payloadType":"str","x":130,"y":660,"wires":[["5b8cd429.8fdb7c"]]},{"id":"f9dc3ad.52e50c8","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_data","payloadType":"str","x":120,"y":720,"wires":[["97bc58ce.196038"]]},{"id":"97bc58ce.196038","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    idFarm          TEXT            NOT NULL,\n    idCow           INT             NOT NULL,\n    Temperature     FLOAT               NULL,   \n    Acceleration    FLOAT               NULL,\n    Latitude        FLOAT               NULL,\n    Longitude       FLOAT               NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":720,"wires":[["ce133332.a3e2a"]]},{"id":"b700465e.8c21c8","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":800,"wires":[["ce133332.a3e2a"]]},{"id":"91aa6162.9b34a","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_data","payloadType":"str","x":120,"y":800,"wires":[["b700465e.8c21c8"]]},{"id":"e450b33b.9ddab","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":340,"y":360,"wires":[["ce133332.a3e2a"]]},{"id":"1405adcb.4e2cfa","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"truck_readings","payloadType":"str","x":140,"y":360,"wires":[["e450b33b.9ddab"]]},{"id":"ddde20b3.b76bb","type":"comment","z":"376612e2.a8cb7e","name":"Estancia","info":"","x":140,"y":180,"wires":[]},{"id":"e4548f9b.8a997","type":"mqtt in","z":"376612e2.a8cb7e","name":"","topic":"Vacas/+/#","qos":"2","datatype":"json","broker":"630e8219.9de8e4","nl":false,"rap":false,"x":140,"y":540,"wires":[["8868843d.8bbf58"]]},{"id":"8868843d.8bbf58","type":"function","z":"376612e2.a8cb7e","name":"FormatMessage","func":"msg.payload.time = new Date().toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":540,"wires":[["26840d82.4d0462"]]},{"id":"26840d82.4d0462","type":"template","z":"376612e2.a8cb7e","name":"INSERT INTO cow_data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO cow_data (time, idFarm,idCow, Temperature, Acceleration,Latitude,Longitude) \nVALUES ('{{payload.time}}','{{payload.Farm}}','{{payload.id}}',\n'{{payload.t}}', '{{payload.acc}}',\n'{{payload.GPS.lat}}','{{payload.GPS.lon}}');\n        \n","output":"str","x":590,"y":540,"wires":[["737b1ac9.de7bf4"]]},{"id":"737b1ac9.de7bf4","type":"postgres","z":"376612e2.a8cb7e","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":880,"y":540,"wires":[]},{"id":"a8f34391.c6889","type":"comment","z":"376612e2.a8cb7e","name":"Vacas","info":"","x":130,"y":500,"wires":[]},{"id":"1940df03.3d5ab1","type":"http in","z":"376612e2.a8cb7e","name":"","url":"/MasAlmar_Fan","method":"post","upload":false,"swaggerDoc":"","x":260,"y":300,"wires":[["3b1fc603.4d0c9a","5344944e.2dc2bc"]]},{"id":"3b1fc603.4d0c9a","type":"debug","z":"376612e2.a8cb7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":300,"wires":[]},{"id":"21242520.7eba0a","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/+/#","qos":"0","datatype":"auto","broker":"630e8219.9de8e4","nl":false,"rap":true,"rh":0,"x":800,"y":680,"wires":[["e38cb183.a7d4d"]]},{"id":"e38cb183.a7d4d","type":"debug","z":"936db7f7.f91bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":680,"wires":[]},{"id":"656a3da6.280aa4","type":"telegram command","z":"249f9eff.943cf2","name":"/help","command":"/help","bot":"16c76b11.a836b5","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":170,"y":840,"wires":[["fbd0c04a.ddc43","2db35ced.cf11d4"]]},{"id":"2db35ced.cf11d4","type":"function","z":"249f9eff.943cf2","name":"create help text","func":"var helpMessage = \"/help - shows help\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/MasAlmarFAN - Turn ON/OFF FAN\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/MasBadosaFAN -Turn ON/OFF FAN\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/MasGenerFAN -Turn ON/OFF FAN\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/MasColomFAN -Turn ON/OFF FAN\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/Temperature - GetTemperature\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\n/DoorOpen - Open Factory Door\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"\\r\\nYou are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\nYour chat id is \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":840,"wires":[["b32e3df8.3bc37"]]},{"id":"b32e3df8.3bc37","type":"telegram sender","z":"249f9eff.943cf2","name":"send response","bot":"16c76b11.a836b5","haserroroutput":false,"outputs":1,"x":600,"y":840,"wires":[[]]},{"id":"28e1cbcd.069e24","type":"comment","z":"249f9eff.943cf2","name":"TelegramBot","info":"","x":130,"y":800,"wires":[]},{"id":"5344944e.2dc2bc","type":"http response","z":"376612e2.a8cb7e","name":"","statusCode":"","headers":{},"x":530,"y":340,"wires":[]},{"id":"f6a1273b.759218","type":"telegram command","z":"376612e2.a8cb7e","name":"/MasAlmarFAN","command":"/MasAlmarFAN","bot":"16c76b11.a836b5","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":180,"y":640,"wires":[["74e8cf35.a5ba8"],[]]},{"id":"bf478e3.5e6c97","type":"telegram command","z":"376612e2.a8cb7e","name":"/CanSisetFAN","command":"/CanSisetFAN","bot":"16c76b11.a836b5","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":700,"wires":[["74e8cf35.a5ba8"],[]]},{"id":"7833309b.aa79a","type":"telegram command","z":"376612e2.a8cb7e","name":"/MasColomFAN","command":"/MasColomFAN","bot":"16c76b11.a836b5","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":180,"y":760,"wires":[["74e8cf35.a5ba8"],[]]},{"id":"c01b2ea1.188f9","type":"telegram command","z":"376612e2.a8cb7e","name":"/MasGenerFAN","command":"/MasGenerFAN","bot":"16c76b11.a836b5","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":180,"y":820,"wires":[["74e8cf35.a5ba8"],[]]},{"id":"3e20562f.8a64ca","type":"telegram command","z":"376612e2.a8cb7e","name":"/MasBadosaFAN","command":"/MasBadosaFAN","bot":"16c76b11.a836b5","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":180,"y":880,"wires":[["74e8cf35.a5ba8"],[]]},{"id":"78034690.513038","type":"telegram sender","z":"376612e2.a8cb7e","name":"show inline keyboard","bot":"16c76b11.a836b5","haserroroutput":false,"outputs":1,"x":780,"y":740,"wires":[[]]},{"id":"74e8cf35.a5ba8","type":"function","z":"376612e2.a8cb7e","name":"inline keyboard message","func":"var farm=msg.originalMessage.text;\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"TURN ON\",\n                    \"callback_data\": farm+\"/TurnON\"            \n                }, \n                {\n                    \"text\": \"TURN OFF\",\n                    \"callback_data\": farm +\"/TurnOff\"         \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'QUIERES ENCEDER o APAGAR EL VENTILADOR?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":740,"wires":[["78034690.513038"]]},{"id":"85240f11.e8246","type":"telegram event","z":"376612e2.a8cb7e","name":"","bot":"16c76b11.a836b5","event":"callback_query","autoanswer":false,"x":180,"y":1020,"wires":[["fda4e3ea.76b39","db5c99a5.17ba78"]]},{"id":"fbd0c04a.ddc43","type":"debug","z":"249f9eff.943cf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":920,"wires":[]},{"id":"2fbdf4e5.da753c","type":"mqtt out","z":"376612e2.a8cb7e","name":"FAN","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":650,"y":1020,"wires":[]},{"id":"fda4e3ea.76b39","type":"function","z":"376612e2.a8cb7e","name":"FormatMessage","func":"\nvar aux=msg.payload.content.split(\"/\")\naux[1] = aux[1].substring(0, aux[1].length - 3);\nvar aux_topic=\"Farm/\"+aux[1]+\"/Fan\"; \nvar aux_payload;\nif (aux[2]==\"TurnON\")\n{\n    aux_payload=1;\n}\nif (aux[2]==\"TurnOff\")\n{\n    aux_payload=0;\n}\nvar message={topic:aux_topic,payload:aux_payload};\n\n\n//msg.topic='Farm/MasAlmar/Fan';\n//delete msg.originalMessage;\n//delete msg._msgid;\n\n//if (msg.payload==1) \n//{\n//    msg.payload=\"TURN ON\";\n//}else\n//{\n//    msg.payload=\"TURN OFF\";\n//}\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1020,"wires":[["2fbdf4e5.da753c"]]},{"id":"49192b77.ecd7c4","type":"inject","z":"230a1e10.94dac2","name":"start","props":[{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"temp1","x":130,"y":60,"wires":[["fe5c2119.bc909"]]},{"id":"fe5c2119.bc909","type":"random","z":"230a1e10.94dac2","name":"","low":"18","high":"24","inte":"false","property":"payload","x":280,"y":60,"wires":[["3a4ea71a.dd9f28"]]},{"id":"3a4ea71a.dd9f28","type":"function","z":"230a1e10.94dac2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":60,"wires":[["66c23146.3ae85"]]},{"id":"66c23146.3ae85","type":"function","z":"230a1e10.94dac2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":60,"wires":[[]]},{"id":"9d83c4e3.a2cbd8","type":"telegram sender","z":"376612e2.a8cb7e","name":"send response","bot":"16c76b11.a836b5","haserroroutput":false,"outputs":1,"x":700,"y":960,"wires":[[]]},{"id":"db5c99a5.17ba78","type":"function","z":"376612e2.a8cb7e","name":"FormatMessage","func":"msg.type=\"message\"\n\n\n//msg.topic='Farm/MasAlmar/Fan';\n//delete msg.originalMessage;\n//delete msg._msgid;\n\n//if (msg.payload==1) \n//{\n//    msg.payload=\"TURN ON\";\n//}else\n//{\n//    msg.payload=\"TURN OFF\";\n//}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":960,"wires":[["9d83c4e3.a2cbd8"]]},{"id":"5b98a8ac.a46758","type":"http in","z":"de6ecbc5.785308","name":"","url":"/hello-form","method":"post","swaggerDoc":"","x":300,"y":760,"wires":[["c0ad5b4e.a070f","6ceb930a.93146c"]]},{"id":"6ceb930a.93146c","type":"http response","z":"de6ecbc5.785308","name":"","x":610,"y":760,"wires":[]},{"id":"c0ad5b4e.a070f","type":"debug","z":"de6ecbc5.785308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":820,"wires":[]},{"id":"3b555c80.004eb4","type":"telegram command","z":"936db7f7.f91bd8","name":"/DoorOpen","command":"/DoorOpen","bot":"16c76b11.a836b5","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":240,"y":1380,"wires":[["d6de7440.02ef28","7e796e11.8140c"]]},{"id":"d6de7440.02ef28","type":"debug","z":"936db7f7.f91bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":1260,"wires":[]},{"id":"84a794b5.872c98","type":"mqtt out","z":"936db7f7.f91bd8","name":"DOOR","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":690,"y":1380,"wires":[]},{"id":"7e796e11.8140c","type":"function","z":"936db7f7.f91bd8","name":"FormatMessage","func":"\nvar aux=msg.originalMessage.text.split(\"/\")\naux[1] = aux[1].substring(0, aux[1].length - 4);\nvar aux_topic=\"Factory/\"+aux[1]+\"/Open\"; \nvar aux_payload;\n\n    aux_payload=1;\n\nvar message={topic:aux_topic,payload:aux_payload};\n\n\n\n\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1380,"wires":[["8404ce27.4fa38","84a794b5.872c98"]]},{"id":"8404ce27.4fa38","type":"debug","z":"936db7f7.f91bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1320,"wires":[]},{"id":"c345c927.b11b08","type":"comment","z":"936db7f7.f91bd8","name":"Telegram Bot ","info":"","x":170,"y":1220,"wires":[]},{"id":"259c4605.86a9fa","type":"comment","z":"376612e2.a8cb7e","name":"Telegram Bot","info":"","x":150,"y":600,"wires":[]},{"id":"24974f6e.ecfcf","type":"function","z":"376612e2.a8cb7e","name":"CowInsideFence","func":"var polygon = msg.payload.polygon\nvar points = msg.payload.points\n\nvar name = \"vaca\";\nvar cows = [];\nvar alarmas = []\ncont = 0\n\npoints.forEach(function(part, index) {\n    var lat = points[index][1]\n    var lon = points[index][0]\n    var inside = false;\n    for (var i = 0, j = polygon.length - 1; i < polygon.length; j = i++) {\n        var xi = polygon[i][0], yi = polygon[i][1];\n        var xj = polygon[j][0], yj = polygon[j][1];\n    \n        var intersect = ((yi > lat) != (yj > lat)) && (lon < (xj - xi) * (lat - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }  \n    if (inside) \n    {   \n        var cow = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":cow2:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(cow);\n    }\n    else\n    {\n        alarma_vaca = \"La vaca \"+cont.toString()+\" se ha escapado\";\n        alarmas.push(alarma_vaca)\n        \n        //Se le pone exclamación a las vacas que estan fuera del cercado\n         var exclamation = {\n            \"name\": name+cont.toString(),\n            \"lat\": lat,\n            \"lon\": lon,\n            \"icon\": \":exclamation:\", //skull o exclamation\n            \"Kms:\": 0,\n            \"Temp:\": 24\n            // \"label\": name+i.toString()\n        }\n        cows.push(exclamation);\n    }\n    cont = cont + 1\n}, points); // use arr as this\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":480,"wires":[[]]},{"id":"f1fd6272.21f7","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":300,"y":760,"wires":[["ce133332.a3e2a"]]},{"id":"a6941cba.0d71e","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_data","payloadType":"str","x":120,"y":760,"wires":[["f1fd6272.21f7"]]},{"id":"33f3a7dd.9f6c28","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":300,"y":620,"wires":[["ce133332.a3e2a"]]},{"id":"7d98706b.4d7ac","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"farm_readings","payloadType":"str","x":110,"y":620,"wires":[["33f3a7dd.9f6c28"]]},{"id":"736e0563.477bac","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":300,"y":480,"wires":[["ce133332.a3e2a"]]},{"id":"645d7862.b7d608","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tank_readings","payloadType":"str","x":110,"y":480,"wires":[["736e0563.477bac"]]},{"id":"87c3a69c.200ab8","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    matricula          TEXT             NOT NULL,\n    idEmplead          TEXT            NOT NULL,\n    edificioSalida     TEXT             NOT NULL,\n    edificioEntrada    TEXT             NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":860,"wires":[["ce133332.a3e2a"]]},{"id":"6fc525ab.e536cc","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"travels","payloadType":"str","x":90,"y":860,"wires":[["87c3a69c.200ab8"]]},{"id":"350f4590.caf1da","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":900,"wires":[["ce133332.a3e2a"]]},{"id":"2a45044a.bfd49c","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"travels","payloadType":"str","x":97.81250762939453,"y":907.8187255859375,"wires":[["350f4590.caf1da"]]},{"id":"4089fa5e.e31974","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    matricula          TEXT             NOT NULL,\n    lastRev         TIMESTAMPTZ            NOT NULL,\n    resultLastR         TEXT             NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":340,"y":980,"wires":[["ce133332.a3e2a"]]},{"id":"679abb2f.6c3584","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":340,"y":1040,"wires":[["ce133332.a3e2a"]]},{"id":"3dccc436.8160dc","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TRUCK_INFO","payloadType":"str","x":130,"y":980,"wires":[["4089fa5e.e31974"]]},{"id":"a199da26.d41e68","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TRUCK_INFO","payloadType":"str","x":150,"y":1040,"wires":[["679abb2f.6c3584"]]},{"id":"3cb7a5c5.177daa","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    idEmpleado          TEXT            NOT NULL,\n    Nombre               TEXT             NOT NULL,\n    Apellido            TEXT             NOT NULL,\n    time        TIMESTAMPTZ          NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":1100,"wires":[["ce133332.a3e2a"]]},{"id":"389aeae7.97dd56","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":1160,"wires":[["ce133332.a3e2a"]]},{"id":"3304b86f.20e5e8","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"personal","payloadType":"str","x":100,"y":1100,"wires":[["3cb7a5c5.177daa"]]},{"id":"ff575be9.92c1e8","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"personal","payloadType":"str","x":120,"y":1160,"wires":[["389aeae7.97dd56"]]},{"id":"202140ee.19511","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    idFarm          TEXT            NOT NULL,\n    idCow           INT             NOT NULL,\n    CowAlarm        TEXT            NOT NULL\n\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":740,"y":780,"wires":[["ce133332.a3e2a"]]},{"id":"9646ec74.58c26","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_events","payloadType":"str","x":570,"y":940,"wires":[["202140ee.19511"]]},{"id":"38975995.5b2356","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time            TIMESTAMPTZ     NOT NULL,\n    idFarm          TEXT            NOT NULL,\n    FarmAlarm        TEXT            NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":780,"y":880,"wires":[["ce133332.a3e2a"]]},{"id":"20febf6e.98f8e","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"farm_events","payloadType":"str","x":570,"y":1000,"wires":[["38975995.5b2356"]]}]