EntregasPrevias/Entrega2/flows (2).json
[{"id":"9c24b430.3985c8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"53244d8.79059b4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f9642084.8c9cf","type":"tab","label":"IoT Farmers - Fabrica","disabled":false,"info":""},{"id":"ebff1168.ae10e","type":"tab","label":"IoT Farmers - General","disabled":true,"info":""},{"id":"16e85c09.cfe0c4","type":"tab","label":"IoT Farmers - Granjas","disabled":false,"info":""},{"id":"420720aa.d28d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ebd00f1c.5ab2b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b3213531.f8b848","type":"ui_group","name":"Default","tab":"420720aa.d28d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"42288e98.34a76","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.20.30.1:49320","secpol":"None","secmode":"None","login":false},{"id":"277f223.fcf7bde","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94097e4e.7e5c8","type":"ui_group","name":"Graficos","tab":"e6ac9232.6657d","order":1,"disp":true,"width":21,"collapse":false},{"id":"e6ac9232.6657d","type":"ui_tab","name":"Fabrica","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3eb82e44.24f752","type":"ui_group","name":"Rutas","tab":"caa72333.20def","order":2,"disp":true,"width":30,"collapse":false},{"id":"caa72333.20def","type":"ui_tab","name":"Main","icon":"fa-paw","order":1,"disabled":false,"hidden":false},{"id":"89010b0.5501af8","type":"ui_group","name":"Posicion de las Vacas","tab":"9599d4c3.77ad38","order":1,"disp":true,"width":15,"collapse":false},{"id":"88a911fc.fe43a","type":"ui_group","name":"Estado Cuba","tab":"9599d4c3.77ad38","order":2,"disp":true,"width":"9","collapse":false},{"id":"308c60da.9a2c8","type":"ui_group","name":"Estado Instalación","tab":"9599d4c3.77ad38","order":3,"disp":true,"width":"9","collapse":false},{"id":"9599d4c3.77ad38","type":"ui_tab","name":"Granja - Mas Almar","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"95e2ae2a.d8b48","type":"ui_template","z":"9c24b430.3985c8","group":"b3213531.f8b848","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n\t<select ng-model=\"item\" ng-options=\"items.item.displayName.text for items in msg.payload\">\n\t\t<option value=\"\">-- Objects Root --</option>\n\t</select>\n\t<button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\"> Browse </button>\n</div>\n\n<div layout=\"row\" layout-align=\"space-between\">\n    <ul> <li ng-repeat=\"items in msg.payload\"> {{items.item.displayName.text}}: {{items.item.nodeId}} </li>\n    </ul>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":390,"y":160,"wires":[[]]},{"id":"433e9c90.160784","type":"inject","z":"9c24b430.3985c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;s=SiemensF1.PLC_E1.TTB101A","payload":"","payloadType":"date","x":270,"y":360,"wires":[[]]},{"id":"3e56a373.527f1c","type":"debug","z":"9c24b430.3985c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":360,"wires":[]},{"id":"3ff417ad.36d508","type":"OpcUa-Browser","z":"9c24b430.3985c8","endpoint":"42288e98.34a76","item":"","datatype":"","topic":"","items":[],"name":"","x":440,"y":240,"wires":[[]]},{"id":"3c369a31.df1d56","type":"mqtt out","z":"53244d8.79059b4","name":"","topic":"84:CC:A8:4C:76:2C/cmd","qos":"","retain":"","broker":"277f223.fcf7bde","x":860,"y":900,"wires":[]},{"id":"d6bd4890.894368","type":"inject","z":"53244d8.79059b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":610,"y":900,"wires":[["3c369a31.df1d56"]]},{"id":"88128235.24aa4","type":"mqtt out","z":"53244d8.79059b4","name":"","topic":"84:CC:A8:4C:76:2C/test","qos":"","retain":"","broker":"277f223.fcf7bde","x":880,"y":1002,"wires":[]},{"id":"15407ae4.ff4df5","type":"inject","z":"53244d8.79059b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":1000,"wires":[["88128235.24aa4"]]},{"id":"d09145e.d8cd1b8","type":"comment","z":"f9642084.8c9cf","name":"Fabrica","info":"","x":130,"y":80,"wires":[]},{"id":"2e2ca730.c264d8","type":"link out","z":"f9642084.8c9cf","name":"oT0","links":["50187b94.d65754","65b1e14a.be609","40fab627.e2ff48"],"x":715,"y":100,"wires":[]},{"id":"a2182f02.d903a","type":"link out","z":"f9642084.8c9cf","name":"oT1","links":["498ba44.951e35c","bb9a24d5.475df8"],"x":635,"y":380,"wires":[]},{"id":"aad090e.28e117","type":"link out","z":"f9642084.8c9cf","name":"oT2","links":["665aeea.4c91e1","d49b7215.8d15f"],"x":675,"y":380,"wires":[]},{"id":"85220c5b.a9da","type":"link out","z":"f9642084.8c9cf","name":"oH0","links":["dd7e803e.47a32","c727d87.724b328"],"x":715,"y":160,"wires":[]},{"id":"83c45619.1264f8","type":"link out","z":"f9642084.8c9cf","name":"oH1","links":["bfd62c58.d2122","ee68a9f3.ab69e8"],"x":755,"y":380,"wires":[]},{"id":"b1fffd6e.8148f","type":"link out","z":"f9642084.8c9cf","name":"oH2","links":["1d52fec3.66e941","72981721.92cca8"],"x":795,"y":380,"wires":[]},{"id":"4c34acfc.d208c4","type":"change","z":"f9642084.8c9cf","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":560,"wires":[["358579b7.11f6f6","142c4418.9a118c"]]},{"id":"74095914.10e388","type":"switch","z":"f9642084.8c9cf","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":560,"wires":[["4c34acfc.d208c4"]]},{"id":"b4aad119.79c71","type":"ui_toast","z":"f9642084.8c9cf","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":340,"y":560,"wires":[["74095914.10e388"]]},{"id":"65b1e14a.be609","type":"link in","z":"f9642084.8c9cf","name":"iT0","links":["2e2ca730.c264d8","1293fd8b.dce262"],"x":815,"y":480,"wires":[["142c4418.9a118c","131c4ad0.ab1875"]]},{"id":"bb9a24d5.475df8","type":"link in","z":"f9642084.8c9cf","name":"iT1","links":["a2182f02.d903a"],"x":815,"y":520,"wires":[["c4d89c6e.87776","142c4418.9a118c"]]},{"id":"d49b7215.8d15f","type":"link in","z":"f9642084.8c9cf","name":"","links":["aad090e.28e117"],"x":855,"y":560,"wires":[["142c4418.9a118c","c23745c2.3ca448"]]},{"id":"1bd636ea.92d8f9","type":"function","z":"f9642084.8c9cf","name":"Sensores","func":"var msg6 ={ payload:msg.payload };\nmsg6.topic='TS';\n\nmsg.payload=Math.round(Math.random() * (40 - 25) + 25);\nmsg.topic='Temp0';\n\nvar msg1 = { payload:Math.round(Math.random() * (38 - 21) + 21) };\nmsg1.topic='Temp1';\nvar msg2 = { payload:Math.round(Math.random() * (45 - 20) + 20) };\nmsg2.topic='Temp2';\nvar msg3 = { payload:Math.round(Math.random()*100) };\nmsg3.topic='Hum1';\nvar msg4 = { payload:Math.round(Math.random()*100) };\nmsg4.topic='Hum2';\nvar msg5 = { payload:Math.round(Math.random()*100) };\nmsg5.topic='Hum5';\n\n\nflow.set('TS',msg6.payload);\nflow.set('T0',msg.payload);\nflow.set('T1',msg1.payload);\nflow.set('T2',msg2.payload);\nflow.set('H0',msg3.payload);\nflow.set('H1',msg4.payload);\nflow.set('H2',msg5.payload);\n\nreturn [msg,msg1,msg2,msg3,msg4,msg5,msg6];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[[],[],[],[],[],[],[]]},{"id":"c727d87.724b328","type":"link in","z":"f9642084.8c9cf","name":"iH0","links":["85220c5b.a9da"],"x":815,"y":640,"wires":[["358579b7.11f6f6","b6f42f39.f4766"]]},{"id":"ee68a9f3.ab69e8","type":"link in","z":"f9642084.8c9cf","name":"iH1","links":["83c45619.1264f8"],"x":815,"y":680,"wires":[["358579b7.11f6f6","943c167c.8700a8"]]},{"id":"72981721.92cca8","type":"link in","z":"f9642084.8c9cf","name":"iH2","links":["b1fffd6e.8148f"],"x":815,"y":720,"wires":[["358579b7.11f6f6","be1d993f.ab4af8"]]},{"id":"ea3304ed.9db5a8","type":"ui_toast","z":"f9642084.8c9cf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Temperatura Room 0 fuera de Rango!","name":"Temperature Alert!","x":570,"y":660,"wires":[]},{"id":"6f6791f0.2a35","type":"switch","z":"f9642084.8c9cf","name":"if T high","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":660,"wires":[[]]},{"id":"3c0cf373.743c8c","type":"link out","z":"f9642084.8c9cf","name":"TS","links":["d1ab6631.d9d748"],"x":595,"y":500,"wires":[]},{"id":"40fab627.e2ff48","type":"link in","z":"f9642084.8c9cf","name":"iT0","links":["2e2ca730.c264d8","1293fd8b.dce262"],"x":215,"y":660,"wires":[["6f6791f0.2a35"]]},{"id":"b3047ba0.30fcc8","type":"inject","z":"f9642084.8c9cf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":380,"wires":[["1bd636ea.92d8f9"]]},{"id":"c4d89c6e.87776","type":"ui_gauge","z":"f9642084.8c9cf","name":"Sensor 2 Gauge","group":"94097e4e.7e5c8","order":6,"width":3,"height":2,"gtype":"gage","title":"Temperature 0","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1000,"y":520,"wires":[]},{"id":"2a7e2cbc.1b62f4","type":"ui_button","z":"f9642084.8c9cf","name":"Erase button","group":"94097e4e.7e5c8","order":17,"width":8,"height":1,"passthru":false,"label":"Erase chart","tooltip":"","color":"white","bgcolor":"red","icon":"warning","payload":"Do you want to erase all the chart?","payloadType":"str","topic":"","topicType":"str","x":190,"y":560,"wires":[["b4aad119.79c71"]]},{"id":"358579b7.11f6f6","type":"ui_chart","z":"f9642084.8c9cf","name":"Humidity Chart1","group":"94097e4e.7e5c8","order":10,"width":9,"height":4,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":600,"wires":[[]]},{"id":"142c4418.9a118c","type":"ui_chart","z":"f9642084.8c9cf","name":"Temperautre Chart1","group":"94097e4e.7e5c8","order":11,"width":9,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":440,"wires":[[]]},{"id":"be1d993f.ab4af8","type":"ui_gauge","z":"f9642084.8c9cf","name":"Humidity 2","group":"94097e4e.7e5c8","order":4,"width":3,"height":2,"gtype":"gage","title":"Sensor 3","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":990,"y":720,"wires":[]},{"id":"943c167c.8700a8","type":"ui_gauge","z":"f9642084.8c9cf","name":"Humidity 1","group":"94097e4e.7e5c8","order":3,"width":3,"height":2,"gtype":"gage","title":"Sensor 2","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":990,"y":680,"wires":[]},{"id":"b6f42f39.f4766","type":"ui_gauge","z":"f9642084.8c9cf","name":"Humidity 0","group":"94097e4e.7e5c8","order":2,"width":3,"height":2,"gtype":"gage","title":"Sensor 1","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":990,"y":640,"wires":[]},{"id":"c23745c2.3ca448","type":"ui_gauge","z":"f9642084.8c9cf","name":"Sensor 3 Gauge","group":"94097e4e.7e5c8","order":7,"width":3,"height":2,"gtype":"gage","title":"Temperature 2","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1000,"y":560,"wires":[]},{"id":"131c4ad0.ab1875","type":"ui_gauge","z":"f9642084.8c9cf","name":"Sensor 1 Gauge","group":"94097e4e.7e5c8","order":5,"width":3,"height":2,"gtype":"gage","title":"Temperature 0","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1000,"y":480,"wires":[]},{"id":"9702f5bd.155fd8","type":"inject","z":"ebff1168.ae10e","name":"read","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["db11e3aa.efa67"]]},{"id":"14db955e.21055b","type":"file in","z":"ebff1168.ae10e","name":"routes","filename":"/data/rutas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":140,"wires":[["dda290bd.19c0d"]]},{"id":"dda290bd.19c0d","type":"xml","z":"ebff1168.ae10e","name":"","property":"payload","attr":"","chr":"","x":410,"y":140,"wires":[["d3d62835.8abc88"]]},{"id":"d3d62835.8abc88","type":"function","z":"ebff1168.ae10e","name":"save routes to flow variables","func":"function string_to_lat_lon_points(kml, position) {\n    // Transforms string coordinates to well structured array coordinates\n    var string_points = kml.Document[0].Folder[position].Placemark[0].LineString[0].coordinates[0];\n    string_points = string_points.substring(7);\n    \n    var points = string_points.split(\"\\n\");\n    points.pop()\n    \n    points.forEach(function(part, index) {\n      this[index] = points[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, points);\n    \n    // Change lat lon position\n    points.forEach(function(part, index) { \n        var lat = points[index][0]    \n        var lon = points[index][1]\n        points[index][0] = lon,    \n        points[index][1] = lat\n    }, points);\n    return points;\n}\n\nfarms = flow.get(\"farms\");\nfarms.mas_gener.route = string_to_lat_lon_points(msg.payload.kml, 1);\nfarms.mas_almar.route = string_to_lat_lon_points(msg.payload.kml, 2);\nfarms.can_siset.route = string_to_lat_lon_points(msg.payload.kml, 3);\nfarms.mas_colom.route = string_to_lat_lon_points(msg.payload.kml, 4);\nfarms.mas_badosa.route = string_to_lat_lon_points(msg.payload.kml, 5);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":600,"y":140,"wires":[]},{"id":"db11e3aa.efa67","type":"file in","z":"ebff1168.ae10e","name":"farms","filename":"/data/granjas.kml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":100,"wires":[["3880d461.55b67c"]]},{"id":"3880d461.55b67c","type":"xml","z":"ebff1168.ae10e","name":"","property":"payload","attr":"","chr":"","x":410,"y":100,"wires":[["f8f59836.d0c6d8"]]},{"id":"f8f59836.d0c6d8","type":"function","z":"ebff1168.ae10e","name":"save farms to flow variables","func":"function kml_to_poligon_center(kml, position) {\n    // Transforms string coordinates to well structured poligon and center coordinates\n    var farm = kml.Document[0].Placemark[position];\n    \n    var center_point = {\n        \"lat\": parseFloat(farm.LookAt[0].latitude[0]),\n        \"lon\": parseFloat(farm.LookAt[0].longitude[0])\n    }\n    \n    var area_points = farm.Polygon[0].outerBoundaryIs[0].LinearRing[0].coordinates[0]\n    area_points = area_points.substring(7);\n    \n    var area = area_points.split(\" \");\n    area.pop()\n    \n    area.forEach(function(part, index) {\n      this[index] = area[index].split(\",\");\n      this[index] = this[index].map(Number)\n      this[index].pop()\n    }, area);\n    \n    // Change lat lon position\n    area.forEach(function(part, index) { \n        var lat = area[index][0]    \n        var lon = area[index][1]\n        area[index][0] = lon,    \n        area[index][1] = lat\n    }, area);\n    \n    return {\n        \"area\": area, \n        \"center_point\": center_point,\n        \"cows\": [],\n        \"route\": []\n    };\n}\n\n// Prepare final message\nvar farms = {\n    \"mas_gener\": kml_to_poligon_center(msg.payload.kml, 0),\n    \"mas_almar\": kml_to_poligon_center(msg.payload.kml, 1),\n    \"can_siset\": kml_to_poligon_center(msg.payload.kml, 2),\n    \"mas_colom\": kml_to_poligon_center(msg.payload.kml, 3),\n    \"mas_badosa\": kml_to_poligon_center(msg.payload.kml, 4)\n}\n\nflow.set(\"farms\", farms);\nglobal.set(\"farms\", farms);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["14db955e.21055b"]]},{"id":"ffec8e7f.3357c","type":"comment","z":"ebff1168.ae10e","name":"Read configuration files","info":"","x":140,"y":60,"wires":[]},{"id":"47238681.2e0368","type":"ui_worldmap","z":"ebff1168.ae10e","group":"3eb82e44.24f752","order":1,"width":23,"height":14,"name":"Routes Map","lat":"42.03471","lon":"2.892524","zoom":"11","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/routes","x":1310,"y":240,"wires":[]},{"id":"1b527748.1ef519","type":"worldmap in","z":"ebff1168.ae10e","name":"","path":"/map/routes","events":"connect","x":161,"y":240,"wires":[["a0481ff8.d337e"]]},{"id":"a0481ff8.d337e","type":"change","z":"ebff1168.ae10e","name":"send routes","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["661893ba.9f34ac"]]},{"id":"661893ba.9f34ac","type":"split","z":"ebff1168.ae10e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"farm_name","x":750,"y":240,"wires":[["6478c744.ebd798","58ca0b55.ebb474","63f6f6f5.5667c8"]]},{"id":"6478c744.ebd798","type":"function","z":"ebff1168.ae10e","name":"prepare routes to map","func":"var colors = {\n    \"mas_gener\": \"red\",\n    \"mas_almar\": \"blue\",\n    \"can_siset\": \"green\",\n    \"mas_colom\": \"yellow\",\n    \"mas_badosa\": \"black\"\n};\n\nvar route = {\n    \"name\": msg.farm_name,\n    \"line\": msg.payload.route,\n    \"color\": colors[msg.farm_name],\n    \"layer\": \"Rutas\"\n};\n\nmsg.payload = route;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":240,"wires":[["47238681.2e0368"]]},{"id":"3a64f670.cee24a","type":"comment","z":"ebff1168.ae10e","name":"All Routes","info":"","x":100,"y":200,"wires":[]},{"id":"72c2c65a.4aee08","type":"inject","z":"ebff1168.ae10e","name":"","props":[{"p":"payload","v":"20","vt":"num"},{"p":"topic","v":"mas_gener","vt":"string"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_gener","payload":"20","payloadType":"num","x":160,"y":700,"wires":[["aaa6293f.4b5608"]]},{"id":"3af96ee5.83fb92","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"can_siset","payload":"20","payloadType":"num","x":160,"y":740,"wires":[["aaa6293f.4b5608"]]},{"id":"49c5e804.b30368","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_almar","payload":"20","payloadType":"num","x":160,"y":780,"wires":[["aaa6293f.4b5608"]]},{"id":"3cb0c69f.dc431a","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_badosa","payload":"20","payloadType":"num","x":170,"y":820,"wires":[["aaa6293f.4b5608"]]},{"id":"8c9f9bf4.488018","type":"inject","z":"ebff1168.ae10e","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"mas_colom","payload":"20","payloadType":"num","x":160,"y":860,"wires":[["aaa6293f.4b5608"]]},{"id":"b9435613.1f6338","type":"comment","z":"ebff1168.ae10e","name":"Create fake cow GPS position","info":"","x":160,"y":660,"wires":[]},{"id":"aaa6293f.4b5608","type":"function","z":"ebff1168.ae10e","name":"create & save fake cow data","func":"function get_area_points(area, quantity){\n    var points = [];\n    var x = []\n    var y = []\n    \n    area.forEach(function(part, index) { \n        x.push(area[index][0])\n        y.push(area[index][1])\n    }, area);\n    \n    min_x = Math.min.apply(null, x);\n    max_x = Math.max.apply(null, x);\n    min_y = Math.min.apply(null, y);\n    max_y = Math.max.apply(null, y);\n    \n    while (points.length < quantity) {\n        var random_x = (Math.random() * (max_x - min_x)) + min_x\n        var random_y = (Math.random() * (max_y - min_y)) + min_y\n        \n        var inside = false;\n        for (var i = 0, j = area.length - 1; i < area.length; j = i++) {\n            var xi = area[i][0], yi = area[i][1];\n            var xj = area[j][0], yj = area[j][1];\n        \n            var intersect = ((yi > random_y) != (yj > random_y)) && (random_x < (xj - xi) * (random_y - yi) / (yj - yi) + xi);\n            if (intersect) inside = !inside;\n        }  \n        if (inside) points.push( {\"name\": points.length, \"lat\": random_x, \"lon\": random_y} )\n    }\n    \n    return points;\n}\n\nfarms = flow.get(\"farms\");\n\nfarms[msg.topic].cows = get_area_points(farms[msg.topic].area, msg.payload);\n\nflow.set(\"farms\", farms);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":440,"y":780,"wires":[]},{"id":"d7592389.a151d","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Almar","events":"all","x":590,"y":1040,"wires":[[]]},{"id":"72ee241e.af329c","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":3,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Almar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Almar","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1040,"wires":[["d7592389.a151d"]]},{"id":"ca57c0df.f6d35","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Badosa","events":"all","x":600,"y":1100,"wires":[[]]},{"id":"e1f1aeb2.ae3a8","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":5,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Badosa","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Badosa","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1100,"wires":[["ca57c0df.f6d35"]]},{"id":"8caec47.d064938","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Colom","events":"all","x":600,"y":1160,"wires":[[]]},{"id":"8a4ef0c7.613e6","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":7,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Colom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Colom","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1160,"wires":[["8caec47.d064938"]]},{"id":"d9b1aab6.923cf8","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Gener","events":"all","x":600,"y":1220,"wires":[[]]},{"id":"f37e1941.0f57d8","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":9,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Gener","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Gener","payloadType":"str","topic":"payload","topicType":"msg","x":200,"y":1220,"wires":[["d9b1aab6.923cf8"]]},{"id":"b3099333.d961a","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Granja - Mas Siset","events":"all","x":590,"y":1280,"wires":[[]]},{"id":"4161de02.eb86e","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":11,"width":7,"height":1,"passthru":false,"label":"Granja - Mas Siset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Granja - Mas Siset","payloadType":"str","topic":"payload","topicType":"msg","x":190,"y":1280,"wires":[["b3099333.d961a"]]},{"id":"58ca0b55.ebb474","type":"function","z":"ebff1168.ae10e","name":"Icono Fabrica","func":"farms = flow.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar route = farm.route;\n\nlocation = route[route.length - 1];\n\nvar fabrica = {\n    \"name\": \"Fabrica\",\n    \"icon\": \"https://img.icons8.com/ios/452/factory.png\",\n    \"lat\": location[0],\n    \"lon\": location[1],\n    \"layer\": \"Fabrica\"\n};\n\nmsg.payload = fabrica;\n\nmsg.farms = farms;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["47238681.2e0368"]]},{"id":"63f6f6f5.5667c8","type":"function","z":"ebff1168.ae10e","name":"Icono Granjas","func":"var names = {\n    \"mas_gener\": \"Mas Gener\",\n    \"mas_almar\": \"Mas Almar\",\n    \"can_siset\": \"Can Siset\",\n    \"mas_colom\": \"Mas Colom\",\n    \"mas_badosa\": \"Mas Badosa\"\n};\n\nvar granja = {\n    \"name\": names[msg.farm_name],\n    \"layer\": \"Granjas\",\n    \"icon\": \"https://image.flaticon.com/icons/png/512/119/119301.png\",\n    \"lat\": msg.payload.route[0][0],\n    \"lon\": msg.payload.route[0][1],\n};\n\nmsg.payload = granja;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":320,"wires":[["47238681.2e0368"]]},{"id":"b9ea6705.f323d8","type":"inject","z":"ebff1168.ae10e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":450,"y":360,"wires":[["15a5badc.2475c5"]]},{"id":"c1d2ec37.da4ed","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Gener","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_gener\"].route;\n\nposition = flow.get(\"Camion_MasGener\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Gener\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasGener\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":360,"wires":[["47238681.2e0368"]]},{"id":"15a5badc.2475c5","type":"random","z":"ebff1168.ae10e","name":"","low":"0","high":"10","inte":"true","property":"payload","x":620,"y":360,"wires":[["c1d2ec37.da4ed","ed9267a9.eb1428","70070ce0.7a56c4","4461d1b4.a5865","3834f419.6c31ac"]]},{"id":"cb1e623f.079f7","type":"inject","z":"ebff1168.ae10e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":320,"wires":[["f2604a59.c59b58"]]},{"id":"f2604a59.c59b58","type":"function","z":"ebff1168.ae10e","name":"","func":"flow.set(\"Camion_MasGener\", 0);\nflow.set(\"Camion_MasAlmar\", 0);\nflow.set(\"Camion_CanSiset\", 0);\nflow.set(\"Camion_MasColom\", 0);\nflow.set(\"Camion_MasBadosa\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[[]]},{"id":"ed9267a9.eb1428","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Almar","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_almar\"].route;\n\nposition = flow.get(\"Camion_MasAlmar\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Almar\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasAlmar\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":400,"wires":[["47238681.2e0368"]]},{"id":"70070ce0.7a56c4","type":"function","z":"ebff1168.ae10e","name":"Camion Can Siset","func":"farms = flow.get(\"farms\");\nroute = farms[\"can_siset\"].route;\n\nposition = flow.get(\"Camion_CanSiset\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Can Siset\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_CanSiset\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":440,"wires":[["47238681.2e0368"]]},{"id":"4461d1b4.a5865","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Colom","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_colom\"].route;\n\nposition = flow.get(\"Camion_MasColom\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Colom\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasColom\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":480,"wires":[["47238681.2e0368"]]},{"id":"3834f419.6c31ac","type":"function","z":"ebff1168.ae10e","name":"Camion Mas Badosa","func":"farms = flow.get(\"farms\");\nroute = farms[\"mas_badosa\"].route;\n\nposition = flow.get(\"Camion_MasBadosa\");\n\nif (position < route.length-1) {\n    position = Math.min(Math.max(parseInt(position + msg.payload), 0), route.length-1);\n} else{\n    position = 0;\n}\n\nvar camion = {\n    \"name\": \"Camion Mas Badosa\",\n    \"lat\": route[position][0],\n    \"lon\": route[position][1],\n    \"icon\": \"https://andromines.net/wp-content/uploads/2018/02/LOCATION-ICON.png\",\n    \"layer\": \"Camion\"\n}\n\nmsg.payload = camion;\n\nflow.set(\"Camion_MasBadosa\", position);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":520,"wires":[["47238681.2e0368"]]},{"id":"a15d61ba.6f97","type":"comment","z":"ebff1168.ae10e","name":"Dashboard index","info":"","x":120,"y":980,"wires":[]},{"id":"6da533ea.2c306c","type":"ui_ui_control","z":"ebff1168.ae10e","name":"Fabrica","events":"all","x":560,"y":1340,"wires":[[]]},{"id":"677cf96.197f708","type":"ui_button","z":"ebff1168.ae10e","name":"","group":"3eb82e44.24f752","order":14,"width":7,"height":1,"passthru":false,"label":"Fabrica","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Fabrica","payloadType":"str","topic":"payload","topicType":"msg","x":160,"y":1340,"wires":[["6da533ea.2c306c"]]},{"id":"81583ea1.655a3","type":"function","z":"16e85c09.cfe0c4","name":"prepare mas_gener to map","func":"var command = {\n    \"command\": {\n        \"lat\": msg.payload.center_point.lat,\n        \"lon\": msg.payload.center_point.lon,\n        \"zoom\": 17\n    }\n}\n\nvar area = {\n    \"name\": \"Mas Gener\",\n    \"area\": msg.payload.area,\n    \"color\": \"red\",\n    \"fillColor\": \"red\",\n    \"fillOpacity\": 0.2,\n    \"layer\": \"area\"\n};\n\nmsg.payload = command;\nnode.send(msg);\n\nmsg.payload = area;\nnode.send(msg);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":120,"wires":[["ec03295a.35a898"]]},{"id":"c04be2a4.5f73b","type":"worldmap in","z":"16e85c09.cfe0c4","name":"","path":"/map/farm1","events":"all","x":200,"y":120,"wires":[["cf8c148d.d924a8"]]},{"id":"ec03295a.35a898","type":"ui_worldmap","z":"16e85c09.cfe0c4","group":"89010b0.5501af8","order":1,"width":15,"height":12,"name":"Farm Map","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/map/farm1","x":1070,"y":120,"wires":[]},{"id":"745acab0.afd3d4","type":"change","z":"16e85c09.cfe0c4","name":"obtain mas_gener info","rules":[{"t":"set","p":"payload","pt":"msg","to":"farms.mas_gener","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["81583ea1.655a3","24a63183.d1217e"]]},{"id":"fd02c2ca.b9d76","type":"comment","z":"16e85c09.cfe0c4","name":"Farms","info":"","x":130,"y":80,"wires":[]},{"id":"cf8c148d.d924a8","type":"switch","z":"16e85c09.cfe0c4","name":"connection filter","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":120,"wires":[["745acab0.afd3d4"]]},{"id":"2a50b432.92a54c","type":"ui_button","z":"16e85c09.cfe0c4","name":"","group":"89010b0.5501af8","order":2,"width":0,"height":0,"passthru":true,"label":"Actualización Manual","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"str","topic":"","topicType":"str","x":380,"y":220,"wires":[["24a63183.d1217e"]]},{"id":"24a63183.d1217e","type":"function","z":"16e85c09.cfe0c4","name":"update cows","func":"farms = global.get(\"farms\");\nfarm = farms[\"mas_gener\"];\n\nvar cows = farm.cows;\n\ncows.forEach(function(part, index) {\n    cows[index].icon = \":cow2:\";\n    cows[index].layer = \"cows\";\n    cows[index].temp = Math.round(Math.random() * 3 + 38);\n    cows[index].hb = Math.round(Math.random() * 20 + 70);\n    msg.payload = cows[index];\n    node.send(msg);\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":220,"wires":[["ec03295a.35a898","3313c254.8111ee","4a79a04d.4337c","27d49eef.6d5d42"]]},{"id":"3e6fec61.f46d54","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":220,"wires":[["2a50b432.92a54c"]]},{"id":"3313c254.8111ee","type":"debug","z":"16e85c09.cfe0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":220,"wires":[]},{"id":"5f2c8ca5.421bb4","type":"ui_toast","z":"16e85c09.cfe0c4","position":"top right","displayTime":"3","highlight":"Red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Alarma de Temperatura!","name":"Temperatura","x":1290,"y":460,"wires":[]},{"id":"4a79a04d.4337c","type":"switch","z":"16e85c09.cfe0c4","name":"Alarma","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"39","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":280,"wires":[["36320ffe.11042"]]},{"id":"76367ac7.5082a4","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":340,"wires":[["de2c63c4.e9228"]]},{"id":"de2c63c4.e9228","type":"function","z":"16e85c09.cfe0c4","name":"Declare Cubas","func":"\n\nvar cubas= {\"MasGener\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasAlmar\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"CanSiset\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}],\n            \"MasColom\":[{\"VolT\":5000,\"VolR\":0, \"Temp\":0}],\n            \"MasBadosa\":[{\"VolT\":10000,\"VolR\":0, \"Temp\":0}]\n            };\n    \nflow.set(\"Cubas\", cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":340,"wires":[[]]},{"id":"ec8c3489.406728","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":400,"wires":[["d6009fc9.6ba33"]]},{"id":"d6009fc9.6ba33","type":"function","z":"16e85c09.cfe0c4","name":"Simular Cubas","func":"\nvar cubas=flow.get(\"Cubas\");\n  \ncubas.MasGener[0].Temp=(Math.random() * 2 + 3);\ncubas.MasAlmar[0].Temp=(Math.random() * 2 + 3);\ncubas.CanSiset[0].Temp=(Math.random() * 2 + 3);\ncubas.MasColom[0].Temp=(Math.random() * 2 + 3);\ncubas.MasBadosa[0].Temp=(Math.random() * 2 + 3);\n\nif (cubas.MasGener[0].VolR < cubas.MasGener[0].VolT)\n{\n    cubas.MasGener[0].VolR++;     \n}else{\n    //cubas.MasGener[0].VolR=cubas.MasGener[0].VolT\n}\n\nif(cubas.MasAlmar[0].VolR  < cubas.MasAlmar[0].VolT)\n{\n     cubas.MasAlmar[0].VolR=cubas.MasAlmar[0].VolR+30; \n}else{\n    cubas.MasAlmar[0].VolR=(Math.random() * 1000 + 3000);\n}\n\nif (cubas.CanSiset[0].VolR < cubas.CanSiset[0].VolT)\n{\n    cubas.CanSiset[0].VolR++;\n}else{\n    cubas.CanSiset[0].VolR=cubas.CanSiset[0].VolT\n}\n\nif (cubas.MasColom[0].VolR < cubas.MasColom[0].VolT)\n{\n    cubas.MasColom[0].VolR++;\n}else{\n    cubas.MasColom[0].VolR=cubas.MasColom.VolT\n}\n\nif (cubas.MasBadosa[0].VolR < cubas.MasBadosa[0].VolT)\n{\n    cubas.MasBadosa[0].VolR++;\n}else{\n    cubas.MasBadosa[0].VolR=cubas.MasBadosa[0].VolT\n}\n\nflow.set(\"Cubas\",cubas);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["fd71175a.d3d268"]]},{"id":"86190179.a5559","type":"ui_gauge","z":"16e85c09.cfe0c4","name":"Volumen","group":"88a911fc.fe43a","order":2,"width":9,"height":6,"gtype":"wave","title":"{{msg.topic}}","label":"L","format":"{{msg.payload}}","min":"0","max":"5000","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":840,"y":360,"wires":[]},{"id":"fd71175a.d3d268","type":"function","z":"16e85c09.cfe0c4","name":"Obtener datos Cuba","func":"\nvar cubas=flow.get(\"Cubas\");\n\nvar msg1 = { payload:cubas.MasAlmar[0].Temp.toFixed(2) };\nmsg1.topic='Temp';  \n\n\nmsg.payload=cubas.MasAlmar[0].VolR\nmsg.topic='Volumen'\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":400,"wires":[[],["8a56b5e2.f2e5d8"]]},{"id":"8a56b5e2.f2e5d8","type":"ui_gauge","z":"16e85c09.cfe0c4","name":"Temperatura","group":"88a911fc.fe43a","order":3,"width":9,"height":6,"gtype":"gage","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"3","max":"5","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":830,"y":420,"wires":[]},{"id":"55c43246.71925c","type":"comment","z":"16e85c09.cfe0c4","name":"Cubas","info":"","x":110,"y":340,"wires":[]},{"id":"328405da.fb573a","type":"comment","z":"16e85c09.cfe0c4","name":"Instalaciones Granja","info":"","x":150,"y":480,"wires":[]},{"id":"3ca4ceb8.8cf032","type":"inject","z":"16e85c09.cfe0c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":540,"wires":[["1be82e2c.75dc82"]]},{"id":"1be82e2c.75dc82","type":"function","z":"16e85c09.cfe0c4","name":"Simular Temperatura","func":"\n\nmsg.payload=Math.round(Math.random() * (10) + 25);\nmsg.topic='Temp'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":540,"wires":[["ae3dd113.34068","66ac21a7.8c5c9"]]},{"id":"ae3dd113.34068","type":"ui_gauge","z":"16e85c09.cfe0c4","name":"Temperatura","group":"308c60da.9a2c8","order":2,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"ºC","format":"{{msg.payload}}","min":"5","max":"40","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":670,"y":540,"wires":[]},{"id":"66ac21a7.8c5c9","type":"ui_chart","z":"16e85c09.cfe0c4","name":"Temperautre Chart1","group":"308c60da.9a2c8","order":3,"width":9,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":580,"wires":[[]]},{"id":"36320ffe.11042","type":"link out","z":"16e85c09.cfe0c4","name":"TempVaca","links":["76b830c0.4bd9f","fb5710b3.61d3a"],"x":1175,"y":280,"wires":[]},{"id":"27d49eef.6d5d42","type":"switch","z":"16e85c09.cfe0c4","name":"Alarma","property":"payload.hb","propertyType":"msg","rules":[{"t":"gt","v":"88","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":340,"wires":[["d10c7382.04c86"]]},{"id":"d10c7382.04c86","type":"link out","z":"16e85c09.cfe0c4","name":"HBVaca","links":["83bd102c.40069","c59ec1f.1ec0d4"],"x":1175,"y":340,"wires":[]},{"id":"73f5a70a.e66cc8","type":"comment","z":"16e85c09.cfe0c4","name":"CSV","info":"","x":110,"y":740,"wires":[]},{"id":"fb5710b3.61d3a","type":"link in","z":"16e85c09.cfe0c4","name":"","links":["22fbc4c1.fbaafc","36320ffe.11042"],"x":95,"y":840,"wires":[["fd699b12.e0f978"]]},{"id":"8f518010.57963","type":"csv","z":"16e85c09.cfe0c4","name":"","sep":",","hdrin":false,"hdrout":"once","multi":"mult","ret":"\\n","temp":"","skip":"1","strings":true,"include_empty_strings":false,"include_null_values":false,"x":470,"y":840,"wires":[["39871c98.44f634","de6c05db.879698"]]},{"id":"fd699b12.e0f978","type":"change","z":"16e85c09.cfe0c4","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.hb","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"Temperatura","tot":"str"},{"t":"delete","p":"payload.temp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":840,"wires":[["8f518010.57963"]]},{"id":"39871c98.44f634","type":"file","z":"16e85c09.cfe0c4","name":"","filename":"/data/CowData.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":650,"y":840,"wires":[[]]},{"id":"c59ec1f.1ec0d4","type":"link in","z":"16e85c09.cfe0c4","name":"","links":["e98f3308.b0a2c","d10c7382.04c86"],"x":95,"y":900,"wires":[["3f86f175.2eda2e"]]},{"id":"3f86f175.2eda2e","type":"change","z":"16e85c09.cfe0c4","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"},{"t":"move","p":"payload.hb","pt":"msg","to":"payload.Value","tot":"msg"},{"t":"delete","p":"payload.icon","pt":"msg"},{"t":"delete","p":"payload.layer","pt":"msg"},{"t":"delete","p":"payload.lat","pt":"msg"},{"t":"delete","p":"payload.lon","pt":"msg"},{"t":"delete","p":"payload.temp","pt":"msg"},{"t":"set","p":"payload.Alert","pt":"msg","to":"HeartBeat","tot":"str"},{"t":"delete","p":"payload.hb","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":900,"wires":[["8f518010.57963"]]},{"id":"de6c05db.879698","type":"debug","z":"16e85c09.cfe0c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":900,"wires":[]},{"id":"c7a94aa9.ef0258","type":"mqtt in","z":"f9642084.8c9cf","name":"","topic":"84:CC:A8:4C:76:2C/Factory","qos":"2","datatype":"json","broker":"277f223.fcf7bde","x":360,"y":60,"wires":[["358fd81b.573f98"]]},{"id":"358fd81b.573f98","type":"function","z":"f9642084.8c9cf","name":"SepararDatos","func":"\n\nvar msg1 = { payload:msg.payload.values.t };\nmsg1.topic='Temp0';\n\nvar msg2 = { payload:msg.payload.values.h };\nmsg2.topic='Hum0';\n\nvar msg3 = { payload:(2000-(msg.payload.values.d))*(1000*3.14^2)/1000  };\nmsg3.topic='Volum';\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":570,"y":120,"wires":[["2e2ca730.c264d8"],["85220c5b.a9da"],["c7a04814.c66678"]]},{"id":"c7a04814.c66678","type":"link out","z":"f9642084.8c9cf","name":"Volum","links":["270edbb.e723024","ad10695e.349808"],"x":715,"y":220,"wires":[]},{"id":"ad10695e.349808","type":"link in","z":"16e85c09.cfe0c4","name":"Volumout","links":["c7a04814.c66678"],"x":695,"y":320,"wires":[["86190179.a5559"]]}]