EntregasPrevias/Entrega2_Fabrica.json
[{"id":"936db7f7.f91bd8","type":"tab","label":"IoT Farmers - Fabrica","disabled":false,"info":""},{"id":"ea49e2ee.6d1ff","type":"comment","z":"936db7f7.f91bd8","name":"Fabrica","info":"","x":130,"y":80,"wires":[]},{"id":"ca53dea3.87396","type":"link out","z":"936db7f7.f91bd8","name":"R1_Temp_Tnk1","links":["3bf21a82.25d766"],"x":1275,"y":280,"wires":[]},{"id":"a8cae88b.258398","type":"link out","z":"936db7f7.f91bd8","name":"R1_Capacity_Tnk1","links":["43861a42.343554","8e3ccdce.5a4e7"],"x":1275,"y":320,"wires":[]},{"id":"7352c2b.5cd933c","type":"change","z":"936db7f7.f91bd8","name":"erase chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":820,"wires":[["d1d06cd3.6e468","2b0681e3.8e033e"]]},{"id":"f233533c.43719","type":"switch","z":"936db7f7.f91bd8","name":"if YES","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":820,"wires":[["7352c2b.5cd933c"]]},{"id":"897190f9.65b91","type":"ui_toast","z":"936db7f7.f91bd8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"YES","cancel":"NO","raw":false,"topic":"","name":"YES/NO","x":980,"y":820,"wires":[["f233533c.43719"]]},{"id":"3bf21a82.25d766","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["ca53dea3.87396","1293fd8b.dce262"],"x":1455,"y":872,"wires":[["2b0681e3.8e033e","e35196b6.b71f08"]]},{"id":"b3fa3f5a.0dcd1","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Temperature Tnk 2","group":"94097e4e.7e5c8","order":6,"width":3,"height":2,"gtype":"gage","title":"{{msg.topic}}","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1650,"y":920,"wires":[]},{"id":"b8a04c9.057b0b","type":"ui_button","z":"936db7f7.f91bd8","name":"Erase button","group":"94097e4e.7e5c8","order":17,"width":8,"height":1,"passthru":false,"label":"Erase chart","tooltip":"","color":"white","bgcolor":"red","icon":"warning","payload":"Do you want to erase all the chart?","payloadType":"str","topic":"","topicType":"str","x":830,"y":820,"wires":[["897190f9.65b91"]]},{"id":"d1d06cd3.6e468","type":"ui_chart","z":"936db7f7.f91bd8","name":"Capacity","group":"94097e4e.7e5c8","order":10,"width":9,"height":4,"label":"Tank Capacity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1620,"y":1020,"wires":[[]]},{"id":"2b0681e3.8e033e","type":"ui_chart","z":"936db7f7.f91bd8","name":"Temperautre Chart1","group":"94097e4e.7e5c8","order":11,"width":9,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":820,"wires":[[]]},{"id":"eb81be9.ce5f54","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Truck Distance","group":"94097e4e.7e5c8","order":4,"width":3,"height":2,"gtype":"donut","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":1640,"y":1240,"wires":[]},{"id":"8da3b150.accf5","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Capacity Tnk 2","group":"94097e4e.7e5c8","order":3,"width":3,"height":2,"gtype":"wave","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":1640,"y":1180,"wires":[]},{"id":"cd69ea9d.169928","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Capacity Tnk 1","group":"94097e4e.7e5c8","order":2,"width":3,"height":2,"gtype":"wave","title":"{{msg.topic}}","label":"%","format":"{{msg.payload}}","min":"0","max":"100","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"40","seg2":"60","x":1640,"y":1120,"wires":[]},{"id":"e35196b6.b71f08","type":"ui_gauge","z":"936db7f7.f91bd8","name":"Temperature Tnk 1","group":"94097e4e.7e5c8","order":5,"width":3,"height":2,"gtype":"gage","title":"{{msg.topic}}","label":"°C","format":"{{msg.payload}}","min":"15","max":"30","colors":["#55c7ff","#008f00","#ca3838"],"seg1":"20","seg2":"25","x":1650,"y":872,"wires":[]},{"id":"78771df2.a6f4e4","type":"function","z":"936db7f7.f91bd8","name":"SepararDatos","func":"\n\nvar msg1 = { payload:msg.payload.R1.t_tk1 };\nmsg1.topic='Temp_Tnk1';\n\nvar msg2 = { payload:msg.payload.R1.l_tk1 };\nmsg2.topic='Litros_Tnk1';\n\nvar msg3 = { payload:msg.payload.R1.t_tk1 };\nmsg3.topic='Temp_Tnk2';\n\nvar msg4 = { payload:msg.payload.R1.l_tk1 };\nmsg4.topic='Litros_Tnk2';\n\nvar msg5 = { payload:msg.payload.R1.d_cmn };\nmsg5.topic='Truck_Distance';\n\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":1120,"y":360,"wires":[["ca53dea3.87396"],["a8cae88b.258398"],["c4354bc3.06dac8"],["b88e6064.d5d5b"],["bda10131.76eb3"]]},{"id":"c4354bc3.06dac8","type":"link out","z":"936db7f7.f91bd8","name":"R1_Temp_Tnk2","links":["fb95768.e705288","4ce828b.baa26d8"],"x":1275,"y":360,"wires":[]},{"id":"672a4e05.26097","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/Ambient","qos":"0","datatype":"json","broker":"526c0b2a.66c764","x":820,"y":220,"wires":[["1cb5935f.fc1d1d"]]},{"id":"1cb5935f.fc1d1d","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"af274705.8075c8","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/Reception","qos":"0","datatype":"json","broker":"526c0b2a.66c764","x":830,"y":280,"wires":[["280be528.9473ca","78771df2.a6f4e4"]]},{"id":"280be528.9473ca","type":"debug","z":"936db7f7.f91bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":280,"wires":[]},{"id":"7655a2b.108bf5c","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/AmbTemp","qos":"0","datatype":"utf8","broker":"526c0b2a.66c764","x":830,"y":492,"wires":[["a456f3c.782511"]]},{"id":"a456f3c.782511","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":492,"wires":[]},{"id":"bb808ce.3d50d7","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/AmbHum","qos":"0","datatype":"utf8","broker":"526c0b2a.66c764","x":820,"y":552,"wires":[["34f77ac7.47be66"]]},{"id":"34f77ac7.47be66","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":552,"wires":[]},{"id":"20aee152.a5719e","type":"mqtt in","z":"936db7f7.f91bd8","name":"","topic":"10:52:1C:5C:89:58Factory/AmbLux","qos":"0","datatype":"utf8","broker":"526c0b2a.66c764","x":820,"y":612,"wires":[["eeb85084.36bf4"]]},{"id":"eeb85084.36bf4","type":"debug","z":"936db7f7.f91bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":612,"wires":[]},{"id":"9ac0b9a8.5f05d8","type":"switch","z":"936db7f7.f91bd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":832,"wires":[[]]},{"id":"b88e6064.d5d5b","type":"link out","z":"936db7f7.f91bd8","name":"R1_Capacity_Tnk2","links":["fb95768.e705288","5869e072.4e258"],"x":1275,"y":400,"wires":[]},{"id":"bda10131.76eb3","type":"link out","z":"936db7f7.f91bd8","name":"R1_Truck_Distance","links":["fb95768.e705288","566f295c.4a6998"],"x":1275,"y":440,"wires":[]},{"id":"4ce828b.baa26d8","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["c4354bc3.06dac8"],"x":1455,"y":920,"wires":[["b3fa3f5a.0dcd1","2b0681e3.8e033e"]]},{"id":"8e3ccdce.5a4e7","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["a8cae88b.258398"],"x":1455,"y":1120,"wires":[["cd69ea9d.169928","d1d06cd3.6e468"]]},{"id":"5869e072.4e258","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["b88e6064.d5d5b"],"x":1455,"y":1180,"wires":[["8da3b150.accf5","d1d06cd3.6e468"]]},{"id":"566f295c.4a6998","type":"link in","z":"936db7f7.f91bd8","name":"iT0","links":["bda10131.76eb3"],"x":1455,"y":1240,"wires":[["eb81be9.ce5f54"]]},{"id":"94097e4e.7e5c8","type":"ui_group","name":"Graficos","tab":"e6ac9232.6657d","order":1,"disp":true,"width":21,"collapse":false},{"id":"526c0b2a.66c764","type":"mqtt-broker","name":"","broker":"iiot-upc.gleeze.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6ac9232.6657d","type":"ui_tab","name":"Fabrica","icon":"dashboard","order":2,"disabled":false,"hidden":false}]